<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>律法书</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><b><a href="/aishangdi" style="font-size: 18px">爱上帝</a></b></li>
	  <li><a href="/aitaren">爱他人</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs fixed-top">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
          </p>
           <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;圣经纵览&nbsp;&nbsp;<small>律法书</small></h4>
           </div>
            <div class="row">
              #foreach($!model in $!resultList)
			  <div class="col-xs-12 col-lg-4">
			    <div class="thumbnail">
			    <iframe src="$!model.tudousrc" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true" scrolling="no" border="0" frameborder="0" width="100%" height="100%"></iframe>
			      <div class="caption">
			        <h3>$!model.dijige . $!model.biaoti </h3>
			        <p>$!model.miaoshu</p>
			      </div>
			    </div>
			  </div>
			  #end
			</div><!-- .row -->
       </div><!--/.col-xs-12.col-sm-9-->
      
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/aishangdi" class="list-group-item">爱上帝</a>
            <a href="/sjzl/1-5" class="list-group-item  active">律法书</a>
            <a href="/sjzl/6-17" class="list-group-item">历史书</a>
            <a href="/sjzl/18-22" class="list-group-item">诗歌智慧书</a>
            <a href="/sjzl/23-39" class="list-group-item">先知书</a>
            <a href="/sjzl/40-43" class="list-group-item">四福音书</a>
            <a href="/sjzl/44" class="list-group-item">使徒行传</a>
            <a href="/sjzl/45-65" class="list-group-item">保罗书信</a>
            <a href="/sjzl/66" class="list-group-item">启示录</a>
         </div>
	   </div><!-- 6 -3 -->
	   
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>