<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>后台管理页面</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/user/userindex">用户后台</a></b></h4></li>
      <li><a href="/user/userlist">用户管理</a></li>
	</ol> 
   <div class="container">
     
   </div><!-- .container -->
  </body>
</html>