<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>用户信息</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
    #parse("common/css-js.html")
</head>
<body>
	<!-- HEADER -->
	#parse("common/head.html")
	<!--/HEADER -->
	<!-- PAGE -->
	<section id="page">
	   #parse("common/sidebar.html")
	   	 <div id="main-content"><!-- MAIN-CONTENT -->
			<div class="container"><!-- CONTAINER -->
				<div class="row">  <!-- ROW -->
					<div id="content" class="col-lg-12"><!-- CONTENT -->
						<br>
                       <div class="row">
							<div class="col-md-12">
								<!-- BOX -->
								$!result.data.bankname
								<hr>
								 $!result.data._id
							</div>
						</div>
					   </div>
					   
					   <div class="footer-tools">
							<span class="go-top">
								<i class="fa fa-chevron-up"></i> Top
							</span>
					   </div>
					</div><!-- /CONTENT -->
				</div><!-- ROW -->
			</div><!-- /CONTAINER -->
		</div><!-- /MAIN-CONTENT -->
	</section>
	<!-- /PAGE -->
	<script>
		jQuery(document).ready(function() {		
			App.setPage("bb");  //Set current page
			App.init(); //Initialise plugins and elements
		});
	</script>
</body>
</html>