<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>用户管理</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">后台</a></b></h4></li>
      <li><a href="/admin/shujuzidian/shujuzidianlist">数据字典</a></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  
	  <li><a href="/admin/dixiongzimei/dixiongzimeilist">弟兄姊妹管理</a></li>
	  <li><b><a href="/admin/user/userlist" style="font-size: 18px">用户管理</a></b></li>
	  
	</ol> 
   <div class="container">
     <form class="form-inline" action="" method="get">
	  <div class="form-group">
	    <input type="text" class="form-control" name="name" id="name" value="$!query.name"   placeholder="姓名">
	  </div>
	  	  <div class="form-group">
	    <input type="text" class="form-control" name="age" id="age" value="$!query.age"   placeholder="年龄">
	  </div>
	  <div class="form-group">
	      <button type="submit" class="btn btn-success">查询</button>
	      <a class="btn btn-primary" onclick="AdminUser.user_ajax('');" data-toggle="modal" data-target="#userModal">添加</a>
	  </div>
	</form> 
    <br/> 
	<table class="datatable table table-bordered table-hover">
	<thead>
		<tr class="success">
		    <th>序号</th>
			<th>id</th>
		    <th>姓名</th>
		    <th>年龄</th>
		    <th>创建时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	    #set($index=$result.index)
	    #foreach($!model in $!resultViewList)  
		<tr>
		    <td class="align-center">$index</td>
		    <td>$!model.id</td>
		    <td>$!model.name</td>
		    <td>$!model.age</td>
			<td>$!model.createDate</td>
			<td>
	            <a class="btn btn-link" onclick="AdminUser.user_ajax('$!{model.id}');" data-toggle="modal" data-target="#userModal">编辑</a>
	            <a class="btn btn-link" onclick="AdminUser.user_delete_ajax('$!{model.id}');">删除</a>
	        </td>
		</tr>
		 #set($index=$index+1)
		#end
	</tbody>
</table> 
  #parse ("/common/page_mongo.html")
   </div><!-- .container -->

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">用户信息</h4>
         </div>
         <div class="modal-body">
             <div id="user_div"></div>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal -->
</div>
<script type="text/javascript" src="${static_resource}/resources/js/admin/adminuser.js"></script>
  </body>
</html>