<form action="" method="post" >
 <input type="hidden" name="id" id="id_input" value="$!model.id">
 
 <div class="form-group row">
   <label for="shoujihao" class="col-sm-2 form-control-label">姓名<span class="required">*</span></label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="name" id="name_input" value="$!model.name" placeholder="姓名">
   </div>
 </div>
 
  <div class="form-group row">
   <label for="shoujihao" class="col-sm-2 form-control-label">年龄<span class="required">*</span></label>
   <div class="col-sm-10">
     <input class="form-control"  placeholder="年龄" type="text" name="age" value="$!model.age" id="age_input" >
   </div>
  </div>
  
 <div class="form-group row">
   <div class="col-sm-offset-2 col-sm-10">
     <button type="button" onclick="AdminUser.user_update_ajax();" class="btn btn-block btn-primary">更新</button>
   </div>
 </div>  
</form>