<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <link href="${static_resource}/resources/css/offcavas.css" rel="stylesheet">
    <title>爱自己|信息</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	  <li><b><a href="/aiziji" style="font-size: 18px">爱自己</a></b></li>
	</ol> 
   
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
      <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
       </p>
       <div class="jumbotron">
            <h1>我的地址</h1>
            <h3>我的地址页面</h3>
       </div>
       #foreach($!model in $!resultViewList) 
	  	<div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <p><h4>$!model.leixingstring
	           <a class="btn btn-xs btn-success" href="/dizhi/edit/$!{model.id}">编辑</a>
	              <a class="btn btn-xs btn-info" href="/dizhi/delete/$!{model.id}">删除</a>
	         </h4>
			 $!model.areaName
			 $!model.area1Name
			 $!model.area2Name
			 $!model.area3Name
			 $!model.xiangxidizhi
	      </p>
		</div>
	    #end
	    <div class="panel panel-success">
	      
	      <div class="panel-heading">维护地址</div>
		    <div class="panel-body">
			 <form action="/dizhi/update" method="post" >
			  <input type="hidden" name="id"  value="$!model.id"  >
		      <input type="hidden" name="openID" value="$!openID">
		      <input type="hidden" name="nickname" value="$!name">
			  <div class="form-group row">
			    <label for="leixing" class="col-sm-2 form-control-label">地址类型</label>
			    <div class="col-sm-10">
				    <select class="form-control" name="leixing" id="leixing" onchange="updateLeixingString();">
							   <option value="1" #if($!model.leixing == 1) selected="selected" #end>户口地址</option>
							   <option value="2" #if($!model.leixing == 2) selected="selected" #end>工作地址</option>
							   <option value="3" #if($!model.leixing == 3) selected="selected" #end>现住地址</option>
							   <option value="4" #if($!model.leixing == 4) selected="selected" #end>学校地址</option>
							   <option value="5" #if($!model.leixing == 5) selected="selected" #end>其他地址</option>
				   </select>
				   <input type="hidden" name="leixingstring" id="leixingstring" value="$!model.leixingstring">
			    </div>
			  </div>
			   <div class="form-group row">
			    <label for="areaId" class="col-sm-2 form-control-label">省</label>
			    <div class="col-sm-10">
			      <select class="form-control first-label" name="areaId" id="areaId" onchange="getArea1()">
			      </select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="area1Id" class="col-sm-2 form-control-label">市</label>
			    <div class="col-sm-10">
			      <select class="form-control" name="area1Id" id="area1Id" onchange="getArea2()">
			      </select>
			    </div>
			  </div>
			  <span id="area2Span" style="display: none;">
				  <div class="form-group row">
				    <label for="area2Id" class="col-sm-2 form-control-label">县/区</label>
				    <div class="col-sm-10">
				      <select class="form-control" name="area2Id" id="area2Id"  onchange="getArea3()">
				      </select>
				    </div>
				  </div>
			  </span>
			  <span id="area3Span" style="display: none;">
			    <div class="form-group row">
			    <label for="area3Id" class="col-sm-2 form-control-label" >乡/镇</label>
			    <div class="col-sm-10">
			      <select class="form-control" name="area3Id" id="area3Id" onchange="getArea4()">
			      </select> 
			    </div>
			   </div>
			  </span> 
			  <input type="hidden" id="areaName"  name="areaName"   value="$!model.areaName"> 
			  <input type="hidden" id="area1Name" name="area1Name" value="$!model.area1Name">
			  <input type="hidden" id="area2Name" name="area2Name" value="$!model.area2Name">
			  <input type="hidden" id="area3Name" name="area3Name" value="$!model.area3Name">
			  <div class="form-group row">
			    <label for="xiangxidizhi" class="col-sm-2 form-control-label">详细</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="xiangxidizhi" id="xiangxidizhi"  value="$!model.xiangxidizhi" placeholder="详细地址">
			    </div>
			  </div>
			   <div class="form-group row">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-block btn-success">更新地址</button>
			    </div>
			  </div> 
			  </form>
		   </div>
		 </div>
	     
	   </div><!-- 12 -9 -->
	   <div class="col-sm-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/aiziji" class="list-group-item">我的首页</a>
            <a href="/kehu/kehuupdate" class="list-group-item">我的信息</a>
            <a href="/wenti/wentiupdate" class="list-group-item">我的问题</a>
            <a href="/ziyuan/ziyuanupdate" class="list-group-item">我的资源</a>
            <a href="/dizhi/dizhiupdate" class="list-group-item  active">我的地址</a>
         </div>
	   </div><!-- 12 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
   <script type="text/javascript" src="${static_resource}/resources/js/dizhi/dizhi.js"></script>
   <script>
     $(document).ready(function () {
	   $('[data-toggle="offcanvas"]').click(function () {
	     $('.row-offcanvas').toggleClass('active');
	   });
	  });
   </script>
  </body>
</html>