<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufenqi.mall.contract.dal.mapper.KeHuMapper">
	<sql id="all_columns">
		ID,CREATEDATE,UPDATEDATE,VERSION,BEIZHU,EMAIL,LEIXING,NIANLING,NICHENG,QQ,QQ1,QQ2,SHENFENZHENG,SHENGRI,SHOUJIHAO,SHOUJIHAO1,SHOUJIHAO2,SUOZAIDIXIANGXI,SUOZAIGUO,SUOZAISHENG,SUOZAISHI,SUOZAIXIAN,WEIXINHAO,XINGBIE,XINGMING,YUANJIGUO,YUANJISHENG,YUANJISHI,YUANJIXIAN,YUANJIXIANGXI,ZHIYE
	</sql>
	<sql id="where">
		<where>
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="createDate != null">
				and CREATEDATE = #{createDate}
			</if>
			<if test="updateDate != null">
				and UPDATEDATE = #{updateDate}
			</if>
			<if test="version != null">
				and VERSION = #{version}
			</if>
			<if test="beizhu != null">
				and BEIZHU = #{beizhu}
			</if>
			<if test="email != null">
				and EMAIL = #{email}
			</if>
			<if test="leixing != null">
				and LEIXING = #{leixing}
			</if>
			<if test="nianling != null">
				and NIANLING = #{nianling}
			</if>
			<if test="nicheng != null">
				and NICHENG = #{nicheng}
			</if>
			<if test="qq != null">
				and QQ = #{qq}
			</if>
			<if test="qq1 != null">
				and QQ1 = #{qq1}
			</if>
			<if test="qq2 != null">
				and QQ2 = #{qq2}
			</if>
			<if test="shenfenzheng != null">
				and SHENFENZHENG = #{shenfenzheng}
			</if>
			<if test="shengri != null">
				and SHENGRI = #{shengri}
			</if>
			<if test="shoujihao != null">
				and SHOUJIHAO = #{shoujihao}
			</if>
			<if test="shoujihao1 != null">
				and SHOUJIHAO1 = #{shoujihao1}
			</if>
			<if test="shoujihao2 != null">
				and SHOUJIHAO2 = #{shoujihao2}
			</if>
			<if test="suozaidixiangxi != null">
				and SUOZAIDIXIANGXI = #{suozaidixiangxi}
			</if>
			<if test="suozaiguo != null">
				and SUOZAIGUO = #{suozaiguo}
			</if>
			<if test="suozaisheng != null">
				and SUOZAISHENG = #{suozaisheng}
			</if>
			<if test="suozaishi != null">
				and SUOZAISHI = #{suozaishi}
			</if>
			<if test="suozaixian != null">
				and SUOZAIXIAN = #{suozaixian}
			</if>
			<if test="weixinhao != null">
				and WEIXINHAO = #{weixinhao}
			</if>
			<if test="xingbie != null">
				and XINGBIE = #{xingbie}
			</if>
			<if test="xingming != null">
				and XINGMING = #{xingming}
			</if>
			<if test="yuanjiguo != null">
				and YUANJIGUO = #{yuanjiguo}
			</if>
			<if test="yuanjisheng != null">
				and YUANJISHENG = #{yuanjisheng}
			</if>
			<if test="yuanjishi != null">
				and YUANJISHI = #{yuanjishi}
			</if>
			<if test="yuanjixian != null">
				and YUANJIXIAN = #{yuanjixian}
			</if>
			<if test="yuanjixiangxi != null">
				and YUANJIXIANGXI = #{yuanjixiangxi}
			</if>
			<if test="zhiye != null">
				and ZHIYE = #{zhiye}
			</if>
		</where>
	</sql>
	<sql id="orderById"> ORDER BY ID DESC </sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="KeHuDO">
		INSERT INTO kehu (
		<include refid="all_columns" />
		) VALUES
		(#{id},#{createDate},#{updateDate},#{version},#{beizhu},#{email},#{leixing},#{nianling},#{nicheng},#{qq},#{qq1},#{qq2},#{shenfenzheng},#{shengri},#{shoujihao},#{shoujihao1},#{shoujihao2},#{suozaidixiangxi},#{suozaiguo},#{suozaisheng},#{suozaishi},#{suozaixian},#{weixinhao},#{xingbie},#{xingming},#{yuanjiguo},#{yuanjisheng},#{yuanjishi},#{yuanjixian},#{yuanjixiangxi},#{zhiye})
	</insert>
	<update id="update" parameterType="KeHuDO">
		UPDATE kehu SET
                    <![CDATA[ ID = #{id}]]>,   
                    <![CDATA[ CREATEDATE = #{createDate}]]>,   
                    <![CDATA[ UPDATEDATE = #{updateDate}]]>,   
                    <![CDATA[ VERSION = #{version}]]>,   
                    <![CDATA[ BEIZHU = #{beizhu}]]>,   
                    <![CDATA[ EMAIL = #{email}]]>,   
                    <![CDATA[ LEIXING = #{leixing}]]>,   
                    <![CDATA[ NIANLING = #{nianling}]]>,   
                    <![CDATA[ NICHENG = #{nicheng}]]>,   
                    <![CDATA[ QQ = #{qq}]]>,   
                    <![CDATA[ QQ1 = #{qq1}]]>,   
                    <![CDATA[ QQ2 = #{qq2}]]>,   
                    <![CDATA[ SHENFENZHENG = #{shenfenzheng}]]>,   
                    <![CDATA[ SHENGRI = #{shengri}]]>,   
                    <![CDATA[ SHOUJIHAO = #{shoujihao}]]>,   
                    <![CDATA[ SHOUJIHAO1 = #{shoujihao1}]]>,   
                    <![CDATA[ SHOUJIHAO2 = #{shoujihao2}]]>,   
                    <![CDATA[ SUOZAIDIXIANGXI = #{suozaidixiangxi}]]>,   
                    <![CDATA[ SUOZAIGUO = #{suozaiguo}]]>,   
                    <![CDATA[ SUOZAISHENG = #{suozaisheng}]]>,   
                    <![CDATA[ SUOZAISHI = #{suozaishi}]]>,   
                    <![CDATA[ SUOZAIXIAN = #{suozaixian}]]>,   
                    <![CDATA[ WEIXINHAO = #{weixinhao}]]>,   
                    <![CDATA[ XINGBIE = #{xingbie}]]>,   
                    <![CDATA[ XINGMING = #{xingming}]]>,   
                    <![CDATA[ YUANJIGUO = #{yuanjiguo}]]>,   
                    <![CDATA[ YUANJISHENG = #{yuanjisheng}]]>,   
                    <![CDATA[ YUANJISHI = #{yuanjishi}]]>,   
                    <![CDATA[ YUANJIXIAN = #{yuanjixian}]]>,   
                    <![CDATA[ YUANJIXIANGXI = #{yuanjixiangxi}]]>,   
                    <![CDATA[ ZHIYE = #{zhiye}]]>,
		version = version+1 WHERE
		id=#{id} and version = #{version}
	</update>
	<select id="findOne" parameterType="long" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu WHERE ID=#{id}
	</select>
	<select id="findAll" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu
	</select>
	<delete id="delete" parameterType="long">
		DELETE FROM kehu WHERE id=#{id}
	</delete>
	<delete id="deleteByIds">
		DELETE FROM kehu
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="findList" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu
		<include refid="where" />
		<include refid="orderById" />
		LIMIT #{offset}, #{size}
	</select>
	<select id="getByIds" parameterType="list" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>
	<select id="countList" resultType="long">
		SELECT count(1) FROM kehu
		<include refid="where" />
		<include refid="orderById" />
	</select>
	<select id="count" resultType="long">
		SELECT count(1) FROM kehu
		<include refid="orderById" />
	</select>
</mapper>
