<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>教堂地址|编辑</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">微生命后台</a></b></h4></li>
      <li><a href="/admin/leixing/leixinglist">类型管理</a></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  <li><a href="/admin/shipin/shipinlist">视频管理</a></li>
	  <li><b><a href="/admin/jiaotang/jiaotanglist" style="font-size: 18px">教堂地址管理</a></b></li>
	  <li><a href="/admin/dixiongzimei/dixiongzimeilist">弟兄姊妹管理</a></li>
	</ol>
   <div class="container">
        <div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <p><h4>$!model.name</h4><b>更新前地址:</b>&nbsp;&nbsp;
			 $!model.areaName
			 $!model.area1Name
			 $!model.area2Name
			 $!model.area3Name
			 $!model.xiangxidizhi
	      </p>
		</div>
   
    <form action="/admin/jiaotang/jiaotangupdate" method="post" >
	  <input type="hidden" name="id"  value="$!model.id"  >
	  <div class="form-group row">
	    <label for="leixing" class="col-sm-2 form-control-label">地址类型</label>
	    <div class="col-sm-10">
		   <select class="form-control" name="leixing" id="leixing" onchange="updateLeixingString();">
			   <option value="1" #if($!model.leixing == 1) selected="selected" #end>省级教堂</option>
			   <option value="2" #if($!model.leixing == 2) selected="selected" #end>市级教堂</option>
			   <option value="3" #if($!model.leixing == 3) selected="selected" #end>县级教堂</option>
			   <option value="4" #if($!model.leixing == 4) selected="selected" #end>村级教堂</option>
			   <option value="5" #if($!model.leixing == 5) selected="selected" #end>其他教堂</option>
		   </select>
		   <input type="hidden" name="leixingstring" id="leixingstring" value="$!model.leixingstring">
	    </div>
	  </div>
	  
	 <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">教堂名称<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="name" id="name" value="$!model.name" placeholder="教堂名称">
	    </div>
	  </div>
		  
	   <div class="form-group row">
	    <label for="areaId" class="col-sm-2 form-control-label">省</label>
	    <div class="col-sm-10">
	      <select class="form-control first-label" name="areaId" id="areaId" onchange="getArea1()">
	      </select>
	    </div>
	  </div>
		  
	  <div class="form-group row">
	    <label for="area1Id" class="col-sm-2 form-control-label">市</label>
	    <div class="col-sm-10">
	      <select class="form-control" name="area1Id" id="area1Id" onchange="getArea2()">
	      </select>
	    </div>
	  </div>
		  
	  <span id="area2Span" style="display: none;">
		  <div class="form-group row">
		    <label for="area2Id" class="col-sm-2 form-control-label">县/区</label>
		    <div class="col-sm-10">
		      <select class="form-control" name="area2Id" id="area2Id"  onchange="getArea3()">
		      </select>
		    </div>
		  </div>
	  </span>
		  
	  <span id="area3Span" style="display: none;">
	    <div class="form-group row">
	    <label for="area3Id" class="col-sm-2 form-control-label" >乡/镇</label>
	    <div class="col-sm-10">
	      <select class="form-control" name="area3Id" id="area3Id" onchange="getArea4()">
	      </select> 
	    </div>
	   </div>
	  </span> 
		  
	  <input type="hidden" id="areaName"  name="areaName"   value="$!model.areaName"> 
	  <input type="hidden" id="area1Name" name="area1Name" value="$!model.area1Name">
	  <input type="hidden" id="area2Name" name="area2Name" value="$!model.area2Name">
	  <input type="hidden" id="area3Name" name="area3Name" value="$!model.area3Name">
		  
	  <div class="form-group row">
	    <label for="xiangxidizhi" class="col-sm-2 form-control-label">详细</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="xiangxidizhi" id="xiangxidizhi"  value="$!model.xiangxidizhi" placeholder="详细地址">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">备注<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <textarea class="form-control" rows="2" name="beizhu" id="beizhu"   placeholder="教堂备注">$!model.beizhu</textarea>
	    </div>
	  </div>
		  
	  <div class="form-group row">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-block btn-success">更新教堂</button>
	    </div>
	  </div> 
	</form>
   </div><!-- .container -->
   <script type="text/javascript" src="${static_resource}/resources/js/dizhi/dizhi.js"></script>
  </body>
</html>