<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>丰富人生</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	  
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs fixed-top">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
          </p>
          <div class="jumbotron">
            <h1>丰富人生</h1>
          </div>
            <div class="row">
              #foreach($!model in $!resultList)
			  <div class="col-xs-12 col-lg-4">
			    <div class="thumbnail">
			    <iframe src="$!model.tudousrc" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true" scrolling="no" border="0" frameborder="0" width="100%" height="100%"></iframe>
			      <div class="caption">
			        <h3>$!model.dijige . $!model.biaoti </h3>
			        <p>$!model.miaoshu</p>
			      </div>
			    </div>
			  </div>
			  #end
			</div><!-- .row -->
       </div><!--/.col-xs-12.col-sm-9-->
      
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/index" class="list-group-item">我的首页</a>
            <a href="/ttsd/ttsdindex" class="list-group-item">谈天说地</a>
            <a href="/qmzx/qmzxindex" class="list-group-item">奇妙真相</a>
            <a href="/shipin/shipingmrs" class="list-group-item">光明人生</a>
            <a href="/shipin/shipinxfrs" class="list-group-item">幸福人生</a>
            <a href="/shipin/shipinffrs" class="list-group-item active">丰富人生</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>