
.validator-tip {
    position: absolute;
    padding: 4px 5px;;
    background-color: #d14836;
    background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bolder;
    z-index: 99999;
}