<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>微生命</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;微生命&nbsp;&nbsp;<small>为了你这个微小的生命</small></h4>
       </div>
       <font size="3" style="font-weight: 300" >
<p><strong>1.自我介绍</strong></p>

<p>&nbsp;&nbsp; <strong>微生命这个品牌的由来</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微博,微信,微电影,微XX 等越来越多的进入大家的生活,</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> 微字含义代表</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;终端的&nbsp;&nbsp; 微小化&nbsp;&nbsp; 移动端 手机 IPAD 等随身可携带的设备</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户的&nbsp; 微小化 &nbsp; 平民化 越来越多的人 参与进来.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年龄的&nbsp; 微小化&nbsp;&nbsp; 越来越多的年轻人 90后 00 后等开始进来</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内容的&nbsp; 微小化&nbsp;&nbsp;&nbsp; 短视频 短内容 说说 微博 等 兴起</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.......</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>生命含义代表</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;肉体的生命 从出生 到成长 到最后的死亡会经历 生老病死&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;心灵的生命 从单纯 到复杂 到想变得单纯会经历 喜怒哀愁</p>

<p>&nbsp;&nbsp;<strong> 微生命存在的价值</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我每天看到好多人发愁,好多人生离死别,好多恶事和恶意念占据我们的心灵.老多本不应该发生的事发生在我们身边.我觉得生命不应该这样.我觉得我们可以学习和吸收很多善良的东西来战胜他.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要想让地里面不长野草,不是 打药,也不是天天除草 拔草, 那样是灭不了的. 唯一方法&nbsp; 就是在上面 种上庄家.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要想把一个瓶子里的气体赶出去 不是吸气 ,只有一个办法 往里面 装水. 装满好的东西</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所以人的心灵也是. 我们存在的意义 就是 把真正好的东西 对心里有益东西 带给大家, 让大家随时随地的 浏览正能量的东西.</p>

<p><strong>2.创始人简介</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创始人与注资人:王素伟女士</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联合创始人与开发人:杨天赐先生</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;两位都是处女座,虽然我们不信星座. 但不可否认. 我们处女座应有的品性,&nbsp; 对着美有着极高的追求,对艺术品有着苛刻的要求.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王素伟女士与杨天赐先生经历了很多事, 看过很多人.好多本不应该发生的事,就是因为心里种满了恶念所导致的,所以心里有个强烈的声音告诉自己一定一定要纠正他们这些错误的思想.</p>

<p><strong>3.联系我们</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QQ群341286756</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QQ号320482807</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 王素伟 手机号 15711018186</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 杨天赐 手机号 15711018185</p>

<p><strong>4.特别感谢</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>感谢的平台</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;谈天说地,奇妙真相事工,旷野呼声,基督教中文网,福音影院..等平台对微生命的大力支持</p>

<p>&nbsp;&nbsp; &nbsp; <strong>感谢的人</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陈玉满,白少奇,薛花,郭正杰,郭路卫,王雅莉..</p>
</font>
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/index" class="list-group-item">首页</a>
            <a href="/dixiongzimei/dixiongzimei" class="list-group-item">基本信息</a>
            <a href="/dixiongzimeidizhi/dixiongzimeidizhi" class="list-group-item">常用地址</a>
            <a href="/jiaohuidizhi/jiaohuidizhi" class="list-group-item">常去教会</a>
            <a href="/bangzhu/bangzhu" class="list-group-item">需要帮助</a>
            <a href="/about" class="list-group-item active">关于我们</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
      
  </body>
</html>