<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>微生命</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;微生命&nbsp;&nbsp;<small>为了你这个微小的生命</small></h4>
       </div>
          <font size="3" style="font-weight: 300" >
			<p><strong>1.创始人简介</strong></p>
			<p>创始人与注资人:王素伟女士</p>
			<p>联合创始人与开发人:杨天赐先生</p>
			<p>两位都是处女座,虽然我们不信星座. 但不可否认. 我们处女座应有的品性, 对着美有着极高的追求,对艺术品有着苛刻的要求.</p>
			<p>王素伟女士与杨天赐先生经历了很多事, 看过很多人.好多本不应该发生的事,就是因为心里种满了恶念所导致的,所以心里有个强烈的声音告诉自己一定一定要纠正他们这些错误的思想.</p>
			<p><strong>2.联系我们</strong></p>
			<p> 微生命  QQ群  341286756</p>
			<p> 王素伟   QQ号  823600388</p>
			<p> 王素伟 手机号  15711018186</p>
			<p> 杨天赐  QQ号  320482807</p>
			<p> 杨天赐 手机号  15711018185</p>
			<p><strong>3.特别感谢</strong></p>
			<p>谈天说地,奇妙真相事工,旷野呼声,基督教中文网,福音影院..等平台对微生命的大力支持</p>
			<p>陈玉满,白少奇,薛花,郭正杰,郭路卫,王雅莉..等人对微生命的大力支持</p>
		</font>
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/index" class="list-group-item">首页</a>
            <a href="/about" class="list-group-item active">关于我们</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>