<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>爱上帝</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><b><a href="/aishangdi" style="font-size: 18px">爱上帝</a></b></li>
	  <li><a href="/aitaren">爱他人</a></li>
	</ol> 
   <div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;爱上帝&nbsp;&nbsp;<small>你要尽心,尽性,尽意,爱主你的神</small></h4>
       </div>
		 <div class="row">
			  <div class="col-xs-12 col-lg-4">
			    <div class="thumbnail">
			       aa
			      <div class="caption">
			        <h3>b . c </h3>
			        <p>dddd</p>
			      </div>
			    </div>
			  </div>
			</div>
		
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <a href="/aishangdi" class="list-group-item active">爱上帝首页</a>
             <a href="/ttsd/ttsdindex" class="list-group-item">谈天说地</a>
             <a href="/qmzx/qmzxindex" class="list-group-item">奇妙真相</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div>
  </body>
</html>