<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>爱上帝</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><b><a href="/aishangdi" style="font-size: 18px">爱上帝</a></b></li>
	  <li><a href="/aitaren">爱他人</a></li>
	</ol> 
   <div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;爱上帝&nbsp;&nbsp;<small>你要尽心,尽性,尽意,爱主你的神</small></h4>
       </div>
       
<p>&nbsp;&nbsp;&nbsp; 马可福音十二章30节说：「你要尽心、尽性、尽意、尽力爱主你的上帝。」这是诫命中第一要紧的，也是最大的。上帝要我们尽心、尽性、尽意、尽力地爱上帝，但我们都觉得爱心不够，没有办法常常火热地来爱上帝，为什么呢？</p>

<p>&nbsp;&nbsp;&nbsp; 提摩太前书一章5节 说：「但命令的总归就是爱：这爱是从清洁的心和无亏的良心，无伪的信心生出来的。」人的心充满罪、充满污秽，若没有经耶稣的宝血洗净，哪里有清洁的心，和 无亏的良心。因清洁的心，无亏的良心，都是由无伪的信心生出来的，爱心也是由无伪的信心生出来的，人有信心，就有爱上帝的心。在旧约里最爱上帝的是亚伯拉 罕，因为他将自己的独生子献给上帝，没有比这个更大的爱心。他的儿子是他心中的宝贝，他愿意把他献上。希伯来书十一真17节 说：「亚伯拉罕因着信，被试验的时候，就把艾萨克献上。」能使亚伯拉罕献上自己爱子的原动力就是信心。亚伯拉罕相信上帝的话，上帝既能在年老的时候，赐给 他一个儿子，上帝也能叫他的儿子从死里复活。这是亚伯拉罕的信心，若没有这种的信心，一定没有那么大的爱心将自己的儿子献上，信心越大，爱上帝的心也越 大，愿上帝增加我们的信心。</p>

<p>&nbsp;</p>

<p><strong>一、享受上帝的爱越多越能爱上帝</strong></p>

<p>&nbsp;&nbsp;&nbsp; 约翰一书四章8节说：「没有爱心的，就不认识上帝，因为上帝就是爱。」爱是从上帝那里来的，因为上帝就是爱，认识上帝就是爱，才能享受上帝的爱，越亲近上帝越能享受上帝的爱，越享受上帝的爱，越能爱上帝。在新约里最爱主的就是马和亚。约翰福音十二章3节说：「马里亚就拿着一斤极贵的真哪嚏香膏，抹耶稣的脚，」马里亚为什么那样爱主呢？约翰福音十一章5节 说：「耶稣素来爱马大，和她妹子，并拉撒路。」耶稣并不是只爱马里亚，不爱别的人，祂爱所有的人，但他们不知道，不感觉，不敢受。马里亚最会享受主的爱。 她喜欢坐在耶稣的脚前听耶稣的话，越听越有味，越听越明白主的爱。她在主的脚前享受主的爱，越享受主的爱，越能爱主。后来才能成为最爱主的人。各位弟兄姊 妹，你想成为爱主的人吗？请你多亲近耶稣，享受主的爱。</p>

<p>&nbsp;</p>

<p><strong>二、经历十字架才能爱上帝</strong></p>

<p>&nbsp;&nbsp;&nbsp; 上帝的 爱是从十字架来的，上帝借着十字架向我们显明祂的爱。若耶稣不在十字架上替我们死的话，人怎么知道上帝的爱呢？基督为我们舍命，我们即知爱是从祂来的，到 各各他看见耶稣爱我们爱到什么程度，知道耶稣的爱多大，才能爱耶稣。耶稣所爱的门徒约翰，以前不知道爱是什么。有一次和耶稣经过撒玛利亚的一个村庄，看见 那里的人不接待耶稣，就说：「主啊，你要我们吩咐火从天上降下来烧灭他们，像伊莱贾所作的么？」&nbsp; （路九54）。他没有办法爱那些不信的，心里刚硬的人。他那时盼望上帝刑罚他们，因他那时只有爱他所爱的人的爱。后来耶稣被钉在十字架上，其他的门徒都离开耶稣，只有他跟随耶稣到底，到各各他才知道耶稣的爱。领受耶稣的爱，才能用上帝的爱来爱别人，才能成为耶稣所爱的门徒。</p>

<p>&nbsp;</p>

<p><strong>三、有同样生命才能爱上帝</strong></p>

<p>&nbsp;&nbsp;&nbsp; 约翰一书四章7节 说：「亲爱的弟兄阿！我们应当彼此相爱，因为爱是从上帝来的。凡有爱心的，都是由上帝而生，并且认识上帝。」由上帝生的才有上帝的生命。有上帝的生命才能 爱上帝所爱的人，今天我们领受圣餐，用信心领受主的饼，喝主的杯，主的杯是用主的血所立的新约。血里面有主的生命，没有主的生命在他里头，无论如何爱上帝 也不能得上帝喜悦，不能满足上帝的心。比如人可以养猫、养狗，爱这些动物，狗也会摇尾表现牠爱主人，但因生命不同，这些动物的爱不能满足人心。正如有人的 生命才能爱人，有上帝的生命才能爱上帝，那么怎样才能得上帝的生命呢？耶稣就是生命的主。「凡接待祂的，就是信祂名的人，祂就赐他们权柄作上帝的儿女。」 （约一12）凡接待耶稣的，就是上帝的儿女。有上帝的生命在他里面才能爱上帝爱人，因为上帝就是爱。</p>
       
       
		  
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <a href="/aishangdi" class="list-group-item active">首页</a>
             <a href="/ttsd/ttsdindex" class="list-group-item">谈天说地</a>
             <a href="/qmzx/qmzxindex" class="list-group-item">奇妙真相</a>
             <a href="/sjzl/sjzlindex" class="list-group-item">圣经纵览</a>
             <a href="/wenzhang/wenzhang/kuangyehusheng" class="list-group-item">旷野呼声</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div>
  </body>
</html>