<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>爱他人</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><b><a href="/aitaren" style="font-size: 18px">爱他人</a></b></li>
	</ol> 
   <div class="container">
     <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;爱他人&nbsp;&nbsp;<small>寻找生命中的贵人</small> </h4>
       </div>
       <font size="3" style=" font-weight: 300;">
		<p>爱他人模块 提供一个爱他人生命的平台</p>
		<div>&nbsp;</div>
		<p>暂时功能 是 加qq 微信 电话等线上工具</p>
		<div>&nbsp;</div>
		<p>来咨询乐意帮助你的贵人</p>
		<div>&nbsp;</div>
		<p>过段时间会提供线下见面聊天等</p>
		<div>&nbsp;</div>
		<p>我们愿意帮助身边的每一个</p>
		<div>&nbsp;</div>
		<p>用实际行动切实的帮助到你.</p>
       </font>
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <a href="/aitaren" class="list-group-item active">首页</a>
             <a href="/dixiongzimei/dixiongzimei" class="list-group-item">基本信息</a>
             <a href="/dixiongzimeidizhi/dixiongzimeidizhi" class="list-group-item">常用地址</a>
             <a href="/jiaohuidizhi/jiaohuidizhi" class="list-group-item">常去教会</a>
             <a href="/dixingzimei/dixiongzimeiliebiao" class="list-group-item">找人倾诉</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div>
  </body>
</html>