<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>爱他人</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><b><a href="/aitaren" style="font-size: 18px">爱他人</a></b></li>
	</ol> 
   <div class="container">
     <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;爱他人&nbsp;&nbsp;<small>其次也相仿,就是要爱人如己</small></h4>
       </div>
       <font size="3" style=" font-weight: 300;">
<p>&nbsp;&nbsp;&nbsp; 马可福音十二章31节说：「『要爱人如己。』再没有比这两条诫命更大的了。」诚然，「爱人如己」，是多么伟大的行为？我想，除了主耶稣自己能够做到外，任何人都无法真正地达到主耶稣的要求。</p>

<p>&nbsp;&nbsp;&nbsp; 因为人，都是自私的动物，人心都是诡诈的。俗语说：「人不自私，天诛地灭」，这句话，便变成了人类自私的挡箭牌，也可以说是出于魔鬼的主意。</p>

<p>&nbsp;&nbsp;&nbsp; 然而基督徒一旦蒙恩得救，就会有一百八十度的大转变，因为原有的一切罪恶和亏欠，都得到主耶稣宝血的涂抹，都获得了真神的赦免。因此，圣灵便进驻我们心中，光照我们的心眼，让我们开启了心中属灵的眼睛，知晓了自私是属于一种重大的罪恶。</p>

<p>&nbsp;&nbsp;&nbsp; 所以很多主的仆人和使女，便心甘情愿地将身体献上作为活祭，是圣洁的，是上帝所喜悦的（罗十二1）。不惜离开自己温暖的家庭，离别自己的骨肉，走遍天涯地角，尽心尽力去牧养主的羊群，如养老院、育幼（孤儿）院、医院等的设立这些工作，在在都在表现出「爱人如己」的行动。</p>

<p>&nbsp;&nbsp;&nbsp; 我国的古圣先贤，也曾经主张做到「老吾老，以及人之老。幼吾幼，以及人之幼」。大大地标榜出「人溺己溺，人饥己饥」的救世精神。</p>

<p>&nbsp;&nbsp;&nbsp; 范文正公所提倡的「先天下之忧而忧，后天下之乐而乐」，又是多么伟大的政治主张和理想！但是，能实行的究竟有几人？</p>

<p>&nbsp;&nbsp;&nbsp; 主耶稣 告诉我们：「要爱你们的仇敌，为那逼迫你们的祷告。这样，就可以作你们天父的儿女；因为祂叫日头照好人，也照歹人：降雨给义人，也给不义的人。你们若单爱 那爱你们的人，有什么赏赐呢？就是税吏不也是这样行么？你们若单请你弟兄的安，比人有什么长处呢？就是外邦人不也这样行么？所以，你们要完全，像你们的天 父完全一样。」&nbsp; （太五44&mdash;48）。</p>

<p>&nbsp;&nbsp;&nbsp; 亲爱的 兄姊：「我们应当彼此相爱，因为爱是从上帝来的。凡有爱心的，都是由上帝而生，并且认识上帝。没有爱心的，就不认识上帝，因为上帝就是爱。上帝差祂独生子 到世间来，使我们借着祂得生，上帝爱我们的心在此就显明了。不是我们爱上帝，乃是上帝爱我们，差祂的儿子为我们的罪作了挽回祭，这就是爱了。」&nbsp; （约壹四7&mdash;10）。</p>

<p>&nbsp;&nbsp;&nbsp; 亲爱的兄姊：「上帝既是这样爱我们，我们也当彼此相爱。」&nbsp; （约壹四11）。这就是主耶稣赐给我们一条新的命令（参看约十三34）。愿主的旨意，在众兄姊身上亲自成全，阿们。</p>
       </font>
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <a href="/aitaren" class="list-group-item active">首页</a>
             <a href="/dixingzimei/dixiongzimeiliebiao" class="list-group-item">找人倾诉</a>
             <a href="/bangzhu/bangzhu" class="list-group-item">需要帮助</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div>
  </body>
</html>