<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>爱他人</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><b><a href="/aitaren" style="font-size: 18px">爱他人</a></b></li>
	</ol> 
   <div class="container">
     <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;爱他人&nbsp;&nbsp;<small>其次也相仿,就是要爱人如己</small></h4>
       </div>
		<br>
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <a href="/aitaren" class="list-group-item active">爱他人首页</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div>
  </body>
</html>