<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <title>爱自己</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	  <li><b><a href="/aiziji" style="font-size: 18px">爱自己</a></b></li>
	</ol> 
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h1>爱自己</h1>
       </div>
		<br>
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <a href="/aiziji" class="list-group-item active">爱自己首页</a>
             <a href="/dixiongzimei/dixiongzimei" class="list-group-item">我的基本信息</a>
             <a href="/dixiongzimeidizhi/dixiongzimeidizhi" class="list-group-item">我的常用地址</a>
             <a href="/jiaotangdizhi/jiaotangdizhi" class="list-group-item">我常去的教堂</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>