<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>微生命</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;微生命&nbsp;&nbsp;<small>对每一个微小的生命负责任</small></h4>
       </div>
       
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 尼尔&middot;波兹曼在《娱乐至死》中预言了政治、宗教、教育和任何其他公共事务领域的内容，都不可避免地被电视重新定义，但他却未能预言到当下这个时代会被一个叫做&ldquo;微&rdquo;的技术所转动。</p>
		
		<p>　　当&ldquo;微博&rdquo;、&ldquo;微信&rdquo;、&ldquo;微电影&rdquo;、&ldquo;微营销&rdquo;实实在在地影响我们的生活，你会发现，这个世界的游戏规则，在被重新定义。受众的眼球，已经围绕新技术而改变。</p>
		
		<p>　　当然，这份改变，带来了欣喜，也带来了焦虑。</p>
		
		<p>　　如今对很多人来说，微博和微信就像阳光、空气和水一样，已经成为人们生活中必不可少的要素。</p>
		
		<p>　　&ldquo;你开微博了吗？互粉吧！&rdquo;&ldquo;你有微信吗？加我吧！&rdquo;正逐步替代&ldquo;吃了吗？&rdquo;&ldquo;天气不错！&rdquo;等中国人传统的问候方式，成为陌生人初次见面的寒暄用语。</p>
		
		<p>　　微博、微信等应用软件的普及极大地推动了信息获取和社交行为的便捷，它们共同构成了&ldquo;微时代&rdquo;信息获取和新型社交的巨大场域。人们惊喜地发现， 每个人都有机会成为别人的粉丝并拥有自己的粉丝，每个人都可以平等地与明星大腕对话、调侃。突然之间，我们发现，以小人物的微形态和微行动低调地呈现自 我，发出声音，这样的呈现和声音最终竟然也可以凝结成巨大的力量。</p>
		
		<p>　　于是，尽情地发声、尽情地表达、尽情地宣泄、尽情地彰显自我，成了&ldquo;微时代&rdquo;到来之际必然的狂欢。可让人始料未及的是，欣喜与狂欢竟是短暂的，接踵而至的，是更多的集体性焦虑。</p>
		
		<p>　　&ldquo;世界上最远的距离，是你在我面前，却在玩手机。&rdquo;对&ldquo;微博控&rdquo;、&ldquo;微信控&rdquo;们来说，以移动终端为载体的信息获取和社交软件似乎为每一个当下提供了更有趣、更神秘的&ldquo;别处&rdquo;,而活在当下、专注眼前，则逐渐成为一件极奢侈的事。</p>
		
		<p>　　&ldquo;微博控&rdquo;、&ldquo;微信控&rdquo;们渴望表达，渴望社交，却又漠视现实社交场合中的信息交换和情感交流，反而对网络社会寄予厚望，仿佛一分钟不刷微博就会 与时代脱节，一分钟不看微信就会与朋友生疏。更有甚者，将微博、微信&ldquo;粉丝&rdquo;的数量视作自己社交能力的体现，这种将社交&ldquo;圈子&rdquo;作为虚荣心筹码的心态旋即 催生了&ldquo;粉丝&rdquo;交易的巨大市场。</p>
		
		<p>　　但有趣的是，一方面，网络世界中泛滥的各种资讯被切割成无数个细小的片断，使得资讯呈现出碎片化、浅表化、情绪化的特点，让完整的表述、逻辑性 的思考和客观的判断难以实现；另一方面，每一个在&ldquo;微时代&rdquo;网络世界中呈现的个体也是由无数个碎片拼凑起来的，不论是微博的140个字还是微信中的聊天及 &ldquo;朋友圈&rdquo;的状态描述，都经过了带有选择性和情绪化的加工，这使得以微博、微信等为载体的表达和认知只能在重重包装和多次塑造下进行。这种认知和社交上的 片面化、模糊化在带来一定&ldquo;审美&rdquo;效应的同时，也在认知和社交心理上带来了强烈的不安全感和不信任感，使得&ldquo;微博控&rdquo;、&ldquo;微信控&rdquo;们在心理上长期处于&ldquo;居 无定所&rdquo;的漂泊状态、焦虑状态。</p>
		
		<p>　　与此同时，还有一些人的焦虑呈现为&ldquo;刚烈的拒绝&rdquo;--拒绝微博，坚持传统阅读和表达；拒绝微信，固守传统社交方式。由于对&ldquo;信息密集&rdquo;和&ldquo;被动 社交&rdquo;的恐惧，让他们对&ldquo;微时代&rdquo;的种种新技术充满抵触，而当周围的人都对&ldquo;微世界&rdquo;里的名人和话题津津乐道时，当饭局上的人们都拿着手机&ldquo;生活在别处&rdquo; 时，他们也深深感到自己被边缘化。对他们来说，是否向&ldquo;微时代&rdquo;妥协，成为一个哈姆雷特式的问题。</p>
		
		<p>　　还有一种更为强烈的焦虑，表现为&ldquo;逃遁&rdquo;.所谓&ldquo;微遁族&rdquo;,指的是一类使用微信的人群，他们或主动、或被动地加入了一些&ldquo;群&rdquo;,一方面他们渴望 并享受被拉进&ldquo;群&rdquo;里带来的集体认同感，另一方面又害怕被海量的无用信息所困，更担心退群造成的自动边缘化。&ldquo;食之无味，弃之可惜&rdquo;恰到好处地说出了他们 的茫然无措。</p>
		
		<p>　　很多人都有的体会--身体的任何一个器官正常运转时，我们是感觉不到它们的存在的，但当某个器官发生病变时，不适感造成的&ldquo;存在感&rdquo;就会变得异 常明显。人类社会几千年来都自然得几乎被视为无物的认知和社交过程，在&ldquo;微时代&rdquo;正体验着这种不快的&ldquo;存在感&rdquo;--信息获取看似更加便捷，实则效率更低； 人际关系看似更加粘稠，实则愈发疏离&hellip;&hellip;一些本不是问题的问题，如今真的成了问题。</p>
		
		<p>　　&ldquo;微时代&rdquo;的我们，更忙碌了，却也更空虚了；朋友更多了，却也更孤独了。</p>
		
		<p>　　值得注意的变化是，2012年二季度到四季度，新浪微博的用户活跃度下降了近40%;腾讯2013年一季度财报也显示，腾讯微博的日均活跃账户 已经从8700万的最高点下降到8100万。微信公众账号&ldquo;滤镜菲林&rdquo;的一项调查显示，许多微博用户&ldquo;以前一天花3个小时刷微博，现在只是睡前刷刷&rdquo;.</p>
		
		<p>　　这或许是一个信号--更多人开始从&ldquo;广场式&rdquo;的微博平台向&ldquo;熟人社会&rdquo;为主的&ldquo;微信平台&rdquo;转移。喜新厌旧是互联网的&ldquo;原罪&rdquo;,微博诞生仅4年， 便已经被预言&ldquo;微博已死&rdquo;,这一方面被解读为&ldquo;人们不再满足140字的喧嚣，而是选择更加沉稳和理性&rdquo;;一方面也被解读为更多人开始回归传统信息获取和社 交方式，而这些传统的方式能给人内心更多的安全感。</p>
		
		<p>　　新技术或将改变载体，但对宁静生活的渴望和对纯粹思想的追求，却是永恒的。</p>
		
		<p>　　什么是微时代？先不管学界究竟怎样定义，单看看我们的生活，当阅读、传播、购物，乃至情感交流都仅仅通过百余字就能够实现，你就会发现，一个时代真的来了。</p>
		
		<p>　　&ldquo;微时代&rdquo;的到来，不仅带来了互联网的新形态、媒体传播的新格局，也让我们每个处于这个时代的人，被裹挟着，潜移默化地改变了生活的方式、思维的方式，以及整个社会的心态。</p>

      
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/index" class="list-group-item active">首页</a>
            <a href="/dixiongzimei/dixiongzimei" class="list-group-item">基本信息</a>
            <a href="/dixiongzimeidizhi/dixiongzimeidizhi" class="list-group-item">常用地址</a>
            <a href="/jiaohuidizhi/jiaohuidizhi" class="list-group-item">常去教会</a>
            <a href="/bangzhu/bangzhu" class="list-group-item">需要帮助</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
      
  </body>
</html>