<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>微生命-帮助微小的生命</title>
<meta property="qc:admins" content="364425770767513056751676375" />
<meta property="wb:webmaster" content="c870d1270a3de2dc" />
<meta name="description" content="生命的意义">
<meta name="keywords" content="">
<meta name="author" content="微生命">
#parse("/common/css-js.html") <!-- 引入js样式 -->
</head>
<body>
#parse("/common/nav.html") <!-- 引入导航 -->
<div>
</div>

<!-- #parse("/common/copyright.html")  引入版权信息 -->
</body>
</html>