<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <title>微生命</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	  <li><a href="/aiziji">爱自己</a></b></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
      <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
       </p>
       <div class="jumbotron">
            <h1>微生命</h1>
            <h3>微生命页面</h3>
       </div>
      </div><!-- 12 -9 -->
      
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/index" class="list-group-item active">我的首页</a>
            <a href="/ttsd/ttsdindex" class="list-group-item">谈天说地</a>
            <a href="/wenti/wentiupdate" class="list-group-item">奇妙真相</a>
         </div>
	   </div><!-- 6 -3 -->
	   
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>