<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>登录微生命</title>
<meta property="qc:admins" content="364425770767513056751676375" />
<meta property="wb:webmaster" content="c870d1270a3de2dc" />
<meta name="description" content="生命的意义">
<meta name="keywords" content="">
<meta name="author" content="微生命">
#parse("/common/css-js.html")
<link rel="stylesheet" href="resources/css/index/login.css">
</head>
<body>
 <div class="container">
      <form id="kehuLoginForm" class="form-signin" method="post" action="doLogin">
        <h4>请登录</h4>
        <label for="aa" class="sr-only">账号</label>
        <input type="text" id="zhanghao" class="form-control" name="zhanghao" placeholder="邮箱/手机号" required autofocus>
        <label for="bb" class="sr-only">Password</label>
        <input type="password" id="mima" class="form-control" name="mima"  placeholder="密码" required >
        <input type="hidden" id="mima_md5" class="form-control" name="mima_md5"   placeholder="密码" >
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="WeiShengMingIndex.login()">立即登陆</button>
	    <br>
	      <h5>快速通道:&nbsp;
	      <a href="/qqLogin"><span><img alt="qq" src="resources/images/index/qq.png"></span></a>&nbsp;&nbsp;
          <a href="/weiboLogin"><span><img alt="weibo" src="resources/images/index/weibo.png"></span></a>
	      </h5>
	      <br>
	      <div>
	           <a href="/regPage" style="float:left;" class="btn btn-sm btn-success">快速注册</a>
	           <a href="/resetPwdPage" style="float:right;"class="btn btn-sm btn-danger">找回密码</a>
	      </div>
      </form>
 </div>
<script src="${static_resource}/resources/js/index/login.js"></script>
<script src="${static_resource}/resources/js/common/md5.js"></script>
</body>
</html>
