<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="resources/images/ico/weishengming.ico">
<title>请登陆</title>
#parse("/common/css-js.html")
<link rel="stylesheet" href="resources/css/index/login.css">
</head>
<body>
 <div class="container">
      <form class="form-signin" method="post" action="doLogin">
        <h4>欢迎登陆</h4>
        <label for="inputName" class="sr-only">账号</label>
        <input type="text" id="inputName" class="form-control" name="name" placeholder="账号" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>
 </div> 
</body>

</html>
