<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>微生命</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	#parse("common/css-js.html")
    <link rel="stylesheet" type="text/css" href="${static_resource}/resources/js/uniform/css/uniform.default.min.css" />
</head>
<body class="login">	
	<!-- PAGE -->
	<section id="page">
			<!-- HEADER -->
			<header>
				<!-- NAV-BAR -->
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div id="logo">
								  <a href="index.html"><img src="${static_resource}/resources/img/logo/logo3.png" height="40" alt="logo name" /></a>  
							</div>
						</div>
					</div>
				</div>
				<!--/NAV-BAR -->
			</header>
			<!--/HEADER -->
			<!-- LOGIN -->
			<section id="login" class="visible">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box-plain">
								<form id="kehuLoginForm" class="form-signin" method="post" action="/j_spring_security_check">
								  <div class="form-group">
									<label for="exampleInputEmail1">账号</label>
									<i class="fa fa-user"></i>
									<input type="text" id="j_username" class="form-control" name="j_username" placeholder="QQ号/手机号" required autofocus>
								  </div>
								  <div class="form-group"> 
									<label for="exampleInputPassword1">密码</label>
									<i class="fa fa-lock"></i>
									<input type="password" id="j_password" class="form-control" name="j_password" placeholder="密码" required >
								  </div>
									 <button class="btn btn-lg btn-primary btn-block" type="button" onclick="WeiShengMingIndex.login()">立即登陆</button>
								</form>
								<div class="login-helpers">
								    <h5>忘记密码?联系管理员QQ:320482807</h5>
									<!-- <h5><a href="#" onclick="swapScreen('forgot');return false;">忘记密码?</a></h5> -->
									<h5>没有帐号? <a href="#" onclick="swapScreen('register');return false;">立即注册</a></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/LOGIN -->
			<!-- REGISTER -->
			<section id="register">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box-plain">
								 <form id="keHuRegForm" class="form" method="post" action="doReg">
								  <div class="form-group">
									<label for="exampleInputName">姓名</label>
									<i class="fa fa-font"></i>
									<input type="text" class="form-control" name="xingming"  id="xingming" placeholder="真实姓名" >
								  </div>
								  <div class="form-group">
									<label for="exampleInputUsername">账号</label>
									<i class="fa fa-user"></i>
									 <input type="text" id="zhanghao" class="form-control" name="zhanghao" placeholder="QQ号/手机号" required>
								  </div>
								  <div class="form-group"> 
									<label for="exampleInputPassword1">密码</label>
									<i class="fa fa-lock"></i>
									 <input type="password" id="mima" class="form-control" name="mima" placeholder="密码" required>
       								 <input type="hidden" id="mimamd5" class="form-control" name="mimamd5">
								  </div>
									<input type="hidden" id="check_zhanghao" class="form-control"  >
                                    <button class="btn btn-lg btn-success btn-block" type="button" onclick="WeiShengMingReg.reg();">立即注册</button>
								</form>
								<div class="login-helpers">
									<h5><a href="#" onclick="swapScreen('login');return false;"> 返回登录</a> <br></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/REGISTER -->
			<!-- FORGOT PASSWORD -->
			<section id="forgot">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box-plain">
								<form role="form">
								  <div class="form-group">
									<label for="exampleInputEmail1">输入你的账号</label>
									<i class="fa fa-envelope"></i>
									<input type="email" class="form-control" id="exampleInputEmail1" >
								  </div>
									<button type="submit" class="btn btn-info">立即重置密码</button>
								</form>
								<div class="login-helpers">
									<h5><a href="#" onclick="swapScreen('login');return false;">返回登录</a> <br></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- FORGOT PASSWORD -->
	</section>
	<!-- UNIFORM -->
    <script type="text/javascript" src="${static_resource}/resources/js/uniform/jquery.uniform.min.js"></script>
	<!-- CUSTOM SCRIPT -->
	<script src="${static_resource}/resources/js/script.js"></script>
	<script src="${static_resource}/resources/js/index/login.js"></script>
	<script src="${static_resource}/resources/js/index/reg.js"></script>
    <script src="${static_resource}/resources/js/common/md5.js"></script>
	<script>
		jQuery(document).ready(function() {		
			App.setPage("login");  //Set current page
			App.init(); //Initialise plugins and elements
		});
	</script>
	<script type="text/javascript">
		function swapScreen(id) {
			jQuery('.visible').removeClass('visible animated fadeInUp');
			jQuery('#'+id).addClass('visible animated fadeInUp');
		}
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>