<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<header class="navbar clearfix" id="header">
		<div class="container">
				<div class="navbar-brand">
					<!-- COMPANY LOGO -->
				     <a href="index.html">
						<!-- <img src="${static_resource}/resources/img/logo/logo1.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120"> -->
					</a>  
					<!-- /COMPANY LOGO -->
					<!-- TEAM STATUS FOR MOBILE -->
					
					<!-- /TEAM STATUS FOR MOBILE -->
					<!-- SIDEBAR COLLAPSE -->
					<div id="sidebar-collapse" class="sidebar-collapse btn">
						<i class="fa fa-bars"  data-icon1="fa fa-bars"  data-icon2="fa fa-bars" ></i>
					</div>
				</div>
			 
				   
				<!-- <ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
					<li class="dropdown">
						<a href="#" class="team-status-toggle dropdown-toggle tip-bottom" data-toggle="tooltip" title="Toggle Team View">
							<i class="fa fa-users"></i>
							<span class="name">系统状态</span>
						</a>
				    </li>
				    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-cog"></i>
							<span class="name">主题设置</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu skins">
							<li class="dropdown-title">
								<span><i class="fa fa-leaf"></i> Theme Skins</span>
							</li>
							<li><a href="#" data-skin="default">Subtle (default)</a></li>
							<li><a href="#" data-skin="night">Night</a></li>
							<li><a href="#" data-skin="earth">Earth</a></li>
							<li><a href="#" data-skin="utopia">Utopia</a></li>
							<li><a href="#" data-skin="nature">Nature</a></li>
							<li><a href="#" data-skin="graphite">Graphite</a></li>
						 </ul>
					</li>
			    </ul> -->
			    
			    <!-- 最右侧的菜单 -->
			    <ul class="nav navbar-nav pull-right">
			        <li class="dropdown" id="header-notification">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell"></i>
						</a>
					</li>
					
					<li class="dropdown" id="header-message">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-envelope"></i>
						<!-- <span class="badge">3</span> -->
						</a>
					</li>
			    
			        <li class="dropdown" id="header-tasks">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tasks"></i>
						<!-- <span class="badge">3</span> -->
						</a>
					</li>
			    
				    <li class="dropdown user" id="header-user">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img alt="" src="${static_resource}/resources/img/avatars/avatar3.jpg" />
								<span class="username">杨天赐</span>
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="fa fa-user"></i>我的账号</a></li>
								<li><a href="#"><i class="fa fa-cog"></i>账号设置</a></li>
								<li><a href="/j_spring_security_logout"><i class="fa fa-power-off"></i>退出</a></li>
							</ul>
					</li>
			    </ul>
			    
		  </div>
</header>