<!--[if lte IE 8]><script src="${static_resource}/resources/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="${static_resource}/resources/assets/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="${static_resource}/resources/assets/css/ie9.css" /><![endif]-->
<!-- Scripts -->
<script src="${static_resource}/resources/assets/js/jquery.min.js"></script>
<script src="${static_resource}/resources/assets/js/skel.min.js"></script>
<script src="${static_resource}/resources/assets/js/skel-viewport.min.js"></script>
<script src="${static_resource}/resources/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="${static_resource}/resources/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="${static_resource}/resources/assets/js/main.js"></script>