<meta charset="utf-8">
<div id="header-wrapper">
	<header id="header" class="container">
		<div class="row">
			<div class="12u">
				<!-- Logo -->
					<h1><a href="#" id="logo">微生命</a></h1>
				<!-- Nav -->
					<nav id="nav">
						<a href="map/mapPage">微生命</a>
						<a href="/user/userlist">喂生命</a>
						<a href="twocolumn2.html">维生命</a>
						<a href="onecolumn.html">伟生命</a>
						<a href="loginPage">#if (! $name) 登陆 #else $name #end</a>
					</nav>
			</div>
		</div>
	</header>
</div>