<meta charset="utf-8">
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="http://www.weishengming.com">微生命</a>
  
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/kehu/kehuxinxiPage">客户信息<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/kehu/kehuList">查找牧师</a><!-- 按地区查询 -->
    </li>
    <li class="nav-item active pull-right">
      <a class="nav-link" href="/loginPage">#if (! $name) 请先登陆 #else $name #end</a>
    </li>
  </ul>
</nav>