	<meta charset="utf-8">
	<div id="sidebar" class="sidebar">
					<div class="sidebar-menu nav-collapse">
						<div class="divide-20"></div>
						<!-- SEARCH BAR -->
						<div id="search-bar">
							<input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
						</div>
						<ul>
							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-user fa-fw"></i> <span class="menu-text">客户管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="/kehu/kehulist"><span class="sub-menu-text"><i class="fa fa-list fa-fw"></i>客户列表</span></a></li>
									<li><a class="" href="/kehu/editByZhanghao/$!userName"><span class="sub-menu-text"><i class="fa fa-edit fa-fw"></i>我的信息</span></a></li>
								    <li><a class="" href="/dizhi/editByZhanghao/$!userName"><span class="sub-menu-text"><i class="fa fa-map-marker fa-fw"></i>我的地址</span></a></li>
								</ul>
							</li>
							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-bug fa-fw"></i> <span class="menu-text">问题管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="/kehu/kehulist"><span class="sub-menu-text"><i class="fa fa-list fa-fw"></i>问题列表</span></a></li>
									<li><a class="" href="/kehu/kehuupdate"><span class="sub-menu-text"><i class="fa fa-frown-o fa-fw"></i>我的问题</span></a></li>
								</ul>
							</li>
							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-book fa-fw"></i> <span class="menu-text">文章管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="/kehu/kehulist"><span class="sub-menu-text"><i class="fa fa-calendar fa-fw"></i>每日分享</span></a></li>
									<li><a class="" href="/kehu/kehuupdate"><span class="sub-menu-text"><i class="fa fa-heart fa-fw"></i>最重要的问题</span></a></li>
								</ul>
							</li>
							
							
							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-lock fa-fw"></i> <span class="menu-text">权限管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="/user/userlist"><span class="sub-menu-text"><i class="fa fa-male fa-fw"></i>角色列表</span></a></li>
									<li><a class="" href="/user/userinfo"><span class="sub-menu-text"><i class="fa fa-rouble fa-fw"></i>权限列表</span></a></li>
								</ul>
							</li>
							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-suitcase fa-fw"></i> <span class="menu-text">数据字典</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="/user/userlist"><span class="sub-menu-text"><i class="fa fa-asterisk fa-fw"></i>状态类型</span></a></li>
									<li><a class="" href="/user/userinfo"><span class="sub-menu-text"><i class="fa fa-bookmark fa-fw"></i>标志管理</span></a></li>
								</ul>
							</li>
							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-youtube-play fa-fw"></i> <span class="menu-text">奇妙真相</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="/user/userlist"><span class="sub-menu-text"><i class="fa fa-credit-card fa-fw"></i>信仰方程式</span></a></li>
									<li><a class="" href="/user/userlist"><span class="sub-menu-text"><i class="fa fa-user-md fa-fw"></i>宇宙之战</span></a></li>
									<li class="has-sub-sub">
										<a href="javascript:;" class=""><span class="sub-menu-text"><i class="fa fa-smile-o fa-fw"></i>青年布道系列</span><span class="arrow"></span></a>
										<ul class="sub-sub">
											<li><a class="" href="#"><span class="sub-sub-menu-text"><i class="fa fa-flag fa-fw"></i>最重要的问题</span></a></li>
											<li><a class="" href="#"><span class="sub-sub-menu-text"><i class="fa fa-trophy fa-fw"></i>最高的目标</span></a></li>
											<li><a class="" href="#"><span class="sub-sub-menu-text"><i class="fa fa-globe fa-fw"></i>奇妙探险</span></a></li>
										</ul>
									</li>
									<li class="has-sub-sub">
										<a href="javascript:;" class=""><span class="sub-menu-text"><i class="fa fa-thumbs-up fa-fw"></i>福音证道系列</span><span class="arrow"></span></a>
										<ul class="sub-sub">
											<li><a class="" href="#"><span class="sub-sub-menu-text"><i class="fa fa-star fa-fw"></i>永远的福音I</span></a></li>
											<li><a class="" href="#"><span class="sub-sub-menu-text"><i class="fa fa-star fa-fw"></i>永远的福音II</span></a></li>
										</ul>
									</li>
									
									<li><a class="" href="/user/userinfo"><span class="sub-menu-text"><i class="fa fa-thumbs-o-up fa-fw"></i>十诫系列</span></a></li>
								</ul>
							</li>
						</ul>
						<!-- /SIDEBAR MENU -->
					</div>
				</div>