<meta http-equiv="content-type" content="text/html; charset=UTF-8">
## 分页页码生成用宏
#macro(pageBar $page ,$url)
	<div class="msdn">
	
			#set($totalPages=$page.total + $page.pageNumber)
			#set($curPageNo=$page.pageNumber)
			#if ($!totalPages>0)
					
						## 上一页
						#if ($curPageNo>1)
							#set($pre_pageNo=($curPageNo - 1))
				            <a class="prev" href="javascript:void(0);" onclick="jumpToPage('${pre_pageNo}');">
				                prev
				            </a>
						#else
			                <a class="prev-disabled" href="javascript: void(0);">
			                   prev
			                </a>
						#end
					
					
					## 中间页
					#foreach ($pageNumber in [1..$totalPages])
		                #if ($pageNumber == $curPageNo)
		                   <a href="javascript: void(0)" class="current">${pageNumber}</a>
		                #else
	                        #if ($pageNumber == 1)
	                        	<a class="fenye_1" href="javascript: void(0)" onclick="jumpToPage('${pageNumber}');">${pageNumber}</a>
	                            #if ($curPageNo > 5)
	                               <a href="javascript: void(0)" class="more">...</a>
	                            #end
	                        #else
	                               #if ($pageNumber < ($curPageNo - 3))
	                               #else
	                                   	<a href="javascript: void(0)" onclick="jumpToPage('${pageNumber}');">${pageNumber}</a>
	                              #end
	                        #end
		                #end
		            #end
					
					## 下一页
					
						#if ($curPageNo<$totalPages)
							#set($next_pageNo=($curPageNo+1))
				            <a class="next" href="javascript:void(0);" onclick="jumpToPage('${next_pageNo}');">
				               next
				            </a>
						#else
				             <a class="next-disabled" href="javascript: void(0);">
				               next
				             </a>
						#end
					
			#else
	           
		             <a class="prev-disabled" href="javascript: void(0);">
		                 prev
		             </a>
	           
	           <a href="javascript: void(0)" class="current">1</a>
	          
		            <a class="next-disabled" href="javascript: void(0);">
		              next
		            </a>
	            
			#end
	
	</div>
	<input value="$!_csrf.token" name="_csrf_page" type="hidden" id="_csrf_page"/>
	<input value="$!queryString" name="queryString" id="queryString" type="hidden"/>
	<input #if($!dataContainer) value="$!dataContainer" #else value="data_table_list;page_common_nav"  #end name="dataContainer" id="dataContainer" type="hidden"/>
	<script type="text/javascript">
	    function jumpToPage(pageNo){
	        Page.jumpToPage(pageNo,'${url}');
	    }
	</script>
#end

#macro(newPageBar $page ,$url)
	<div id="ufqPageBar" class="msdn">

			#set($totalPages=$page.total + $page.pageNumber)
			#set($curPageNo=$page.pageNumber)
			#if ($!totalPages>0)

						## 上一页
						#if ($curPageNo>1)
							#set($pre_pageNo=($curPageNo - 1))
				            <a class="prev" href="javascript:void(0);" onclick="newJumpToPage('${pre_pageNo}');">
				                prev
				            </a>
						#else
			                <a class="prev-disabled" href="javascript: void(0);">
			                   prev
			                </a>
						#end


					## 中间页
					#foreach ($pageNumber in [1..$totalPages])
		                #if ($pageNumber == $curPageNo)
		                   <a href="javascript: void(0)" class="current">${pageNumber}</a>
		                #else
	                        #if ($pageNumber == 1)
	                        	<a class="fenye_1" href="javascript: void(0)" onclick="newJumpToPage('${pageNumber}');">${pageNumber}</a>
	                            #if ($curPageNo > 5)
	                               <a href="javascript: void(0)" class="more">...</a>
	                            #end
	                        #else
	                               #if ($pageNumber < ($curPageNo - 3))
	                               #else
	                                   	<a href="javascript: void(0)" onclick="newJumpToPage('${pageNumber}');">${pageNumber}</a>
	                              #end
	                        #end
		                #end
		            #end

					## 下一页

						#if ($curPageNo<$totalPages)
							#set($next_pageNo=($curPageNo+1))
				            <a class="next" href="javascript:void(0);" onclick="newJumpToPage('${next_pageNo}');">
				               next
				            </a>
						#else
				             <a class="next-disabled" href="javascript: void(0);">
				               next
				             </a>
						#end

			#else

		             <a class="prev-disabled" href="javascript: void(0);">
		                 prev
		             </a>

	           <a href="javascript: void(0)" class="current">1</a>

		            <a class="next-disabled" href="javascript: void(0);">
		              next
		            </a>

			#end

	</div>
	<input value="$!_csrf.token" name="_csrf_page" type="hidden" id="_csrf_page"/>
	<input value="$!queryString" name="queryString" id="queryString" type="hidden"/>
	<input #if($!dataContainer) value="$!dataContainer" #else value="data_table_list;page_common_nav"  #end name="dataContainer" id="dataContainer" type="hidden"/>
	<script type="text/javascript">
	    function newJumpToPage(pageNo){
	        Page.newJumpToPage(pageNo,'${url}');
	    }
	</script>
#end