<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <title>微生命|资源</title>
  </head>
  <body>
   <nav class="navbar navbar-default" role="navigation">
	   <div class="navbar-header">
	     <button type="button" class="navbar-toggle" data-toggle="collapse" 
	         data-target="#example-navbar-collapse">
	         <span class="sr-only">切换导航</span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/index">微生命</a>
	   </div>
	   
	   <div class="collapse navbar-collapse" id="example-navbar-collapse">
	      <ul class="nav navbar-nav">
	         <li><a href="/kehu/kehuupdate">我的信息</a></li>
	         <li><a href="/wenti/wentiupdate">我的问题</a></li>
	         <li class="active"><a href="/ziyuan/ziyuanupdate">我的资源</a></li>
	         <li><a href="/dizhi/dizhiupdate">我的地址</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a></a></li>
            <li>
             #if(! $!name) <a href="/qqLogin">QQ登陆</a>  #else <a href="#"><img alt="" width="20px" height="18px" src="$!imgsrc">&nbsp;$!name</a> #end
             </li>
          </ul>
	   </div>
   </nav>
   
   <div class="container">
    
    #foreach($!model in $!resultViewList) 
  	<div class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <p>
		  <h4>$!model.type &nbsp; $!model.dizhi</h4>
		  <h4>$!model.beizhu</h4>
		  #if($!model.openID==$!openID)
		  <a class="btn btn-xs btn-success" href="/ziyuan/edit/$!{model.id}">编辑</a>&nbsp;
		  <a class="btn btn-xs btn-info" href="/ziyuan/delete/$!{model.id}">删除</a>&nbsp;
		  #end
	  </p>
	</div>
    #end
    <div class="panel panel-primary">
      <div class="panel-heading">维护资源</div>
	    <div class="panel-body">
		 <form action="/ziyuan/update" method="post" >
		  <input type="hidden" name="id"  value="$!model.id"  >
	      <input type="hidden" name="openID" value="$!openID">
	      <input type="hidden" name="nickname" value="$!name">
		  <div class="form-group row">
		    <label for="type" class="col-sm-2 form-control-label">资源类型</label>
		    <div class="col-sm-10">
		       <select class="form-control" name="type">
		           <option #if($!model.type=="网站") selected="selected" #end value="网站">网站</option>
		           <option #if($!model.type=="QQ空间") selected="selected" #end value="视频">视频</option>
		           <option #if($!model.type=="网站") selected="selected" #end value="QQ空间">QQ空间</option>
		           <option #if($!model.type=="微博") selected="selected" #end value="微博">微博</option>
		           <option #if($!model.type=="微信") selected="selected" #end value="微信">微信</option>
		           <option #if($!model.type=="论坛") selected="selected" #end value="论坛">论坛</option>
		           <option #if($!model.type=="其他") selected="selected" #end value="其他">其他</option>
		       </select>
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label for="dizhi" class="col-sm-2 form-control-label">地址</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="dizhi" id="dizhi" value="$!model.dizhi" placeholder="地址">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label for="beizhu" class="col-sm-2 form-control-label">备注</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="beizhu" id="beizhu" value="$!model.beizhu" placeholder="备注">
		    </div>
		  </div>
		 
		  <div class="form-group row">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-block btn-primary">更新</button>
		    </div>
		  </div>  
		  </form>
	   </div>
	 </div>
   </div>
  </body>
</html>