<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>类型管理</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">微生命后台</a></b></h4></li>
      <li><b><a href="/admin/leixing/leixinglist" style="font-size: 18px">类型管理</a></b></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  <li><a href="/admin/shipin/shipinlist">视频管理</a></li>
	  <li><a href="/admin/dixiongzimei/dixiongzimeilist">弟兄姊妹管理</a></li>
	</ol> 
   <div class="container">
     <form class="form-inline" action="" method="get">
	  <div class="form-group">
	    <input type="text" class="form-control" name="mingcheng" id="mingcheng" value="$!query.mingcheng"   placeholder="名称">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" name="fumingcheng" id="fumingcheng" value="$!query.fumingcheng"   placeholder="父名称">
	  </div>
	  <div class="form-group">
		  <select class="form-control" name="jibie" id="jibie" >
		       <option  value="">全部</option>
		       <option  #if($!query.jibie=='1') selected #end value="1">父类型</option>
		       <option  #if($!query.jibie=='2') selected #end value="2">子类型</option>
		       <option  #if($!query.jibie=='3') selected #end value="3">孙子类型</option>
		   </select>
	   </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-success">查询</button>
	  </div>
	</form> 
    <br/> 
	<table class="datatable table table-bordered table-hover">
	<thead>
		<tr class="success">
		    <th>序号</th>
			<th>父类型名称</th>
		    <th>类型名称</th>
		    <th>级别</th>
		    <th>排序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	    #set($index=$result.index)
	    #foreach($!model in $!resultViewList)  
		<tr>
		    <td class="align-center">$index</td>
		    <td>$!model.fumingcheng</td>
		    <td>$!model.mingcheng</td>
		    <td>$!model.jibie</td>
			<td>$!model.paixu</td>
			<td>
	            <a class="btn btn-success" href="/admin/leixing/leixingedit/$!{model.id}">编辑</a>
	            <a class="btn btn-primary" href="/admin/leixing/zileixingedit/$!{model.id}">添加子</a>
	            <a class="btn btn-danger" href="/admin/leixing/leixingdelete/$!{model.id}">删除</a>
	        </td>
		</tr>
		 #set($index=$index+1)
		#end
	</tbody>
</table> 
  #parse ("/common/page.html")
     
   </div><!-- .container -->
  </body>
</html>