<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weishengming.dao.mapper.DiXiongZiMeiMapper">
	<sql id="all_columns">
		ID,CREATEDATE,UPDATEDATE,VERSION,NIANLING,NICKNAME,OPENID,QITA,QQ,SHENFEN,SHOUJIHAO,SUODING,WEIXINHAO,XINGBIE,XINGMING
	</sql>
	<sql id="where">
		<where>
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="createDate != null">
				and CREATEDATE = #{createDate}
			</if>
			<if test="updateDate != null">
				and UPDATEDATE = #{updateDate}
			</if>
			<if test="version != null">
				and VERSION = #{version}
			</if>
			<if test="nianling != null">
				and NIANLING = #{nianling}
			</if>
			<if test="nickname != null">
				and NICKNAME = #{nickname}
			</if>
			<if test="openID != null">
				and OPENID = #{openID}
			</if>
			<if test="qita != null">
				and QITA = #{qita}
			</if>
			<if test="qq != null">
				and QQ = #{qq}
			</if>
			<if test="shenfen != null">
				and SHENFEN = #{shenfen}
			</if>
			<if test="shoujihao != null">
				and SHOUJIHAO = #{shoujihao}
			</if>
			<if test="suoding != null">
				and SUODING = #{suoding}
			</if>
			<if test="weixinhao != null">
				and WEIXINHAO = #{weixinhao}
			</if>
			<if test="xingbie != null">
				and XINGBIE = #{xingbie}
			</if>
			<if test="xingming != null">
				and XINGMING = #{xingming}
			</if>
		</where>
	</sql>
	<sql id="orderById"> ORDER BY ID DESC </sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="DiXiongZiMeiDO">
		INSERT INTO dixiongzimei (
		<include refid="all_columns" />
		) VALUES
		(#{id},#{createDate},#{updateDate},#{version},#{nianling},#{nickname},#{openID},#{qita},#{qq},#{shenfen},#{shoujihao},#{suoding},#{weixinhao},#{xingbie},#{xingming})
	</insert>
	<update id="update" parameterType="DiXiongZiMeiDO">
		UPDATE dixiongzimei SET
                    <![CDATA[ ID = #{id}]]>,   
                    <![CDATA[ CREATEDATE = #{createDate}]]>,   
                    <![CDATA[ UPDATEDATE = #{updateDate}]]>,   
                    <![CDATA[ VERSION = #{version}]]>,   
                    <![CDATA[ NIANLING = #{nianling}]]>,   
                    <![CDATA[ NICKNAME = #{nickname}]]>,   
                    <![CDATA[ OPENID = #{openID}]]>,   
                    <![CDATA[ QITA = #{qita}]]>,   
                    <![CDATA[ QQ = #{qq}]]>,   
                    <![CDATA[ SHENFEN = #{shenfen}]]>,   
                    <![CDATA[ SHOUJIHAO = #{shoujihao}]]>,   
                    <![CDATA[ SUODING = #{suoding}]]>,   
                    <![CDATA[ WEIXINHAO = #{weixinhao}]]>,   
                    <![CDATA[ XINGBIE = #{xingbie}]]>,   
                    <![CDATA[ XINGMING = #{xingming}]]>,
		version = version+1 WHERE
		id=#{id} and version = #{version}
	</update>
	<select id="findOne" parameterType="long" resultType="DiXiongZiMeiDO">
		SELECT
		<include refid="all_columns" />
		FROM dixiongzimei WHERE ID=#{id}
	</select>
	<select id="findAll" resultType="DiXiongZiMeiDO">
		SELECT
		<include refid="all_columns" />
		FROM dixiongzimei
	</select>
	<delete id="delete" parameterType="long">
		DELETE FROM dixiongzimei WHERE id=#{id}
	</delete>
	<delete id="deleteByIds">
		DELETE FROM dixiongzimei
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="findList" resultType="DiXiongZiMeiDO">
		SELECT
		<include refid="all_columns" />
		FROM dixiongzimei
		<include refid="where" />
		<include refid="orderById" />
		LIMIT #{offset}, #{size}
	</select>
	<select id="findOneByOpenID" parameterType="string" resultType="DiXiongZiMeiDO">
		SELECT
		<include refid="all_columns" />
		FROM dixiongzimei WHERE OPENID = #{openID}
	</select>
	<select id="getByIds" parameterType="list" resultType="DiXiongZiMeiDO">
		SELECT
		<include refid="all_columns" />
		FROM dixiongzimei
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>
	<select id="countList" resultType="long">
		SELECT count(1) FROM dixiongzimei
		<include refid="where" />
		<include refid="orderById" />
	</select>
	<select id="count" resultType="long">
		SELECT count(1) FROM dixiongzimei
		<include refid="orderById" />
	</select>
</mapper>
