<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weishengming.dao.mapper.JiaoHuiDiZhiMapper">
	<sql id="all_columns">
		ID,CREATEDATE,UPDATEDATE,VERSION,AREA1ID,AREA1NAME,AREA2ID,AREA2NAME,AREA3ID,AREA3NAME,AREAID,AREANAME,DIXIONGZIMEIID,DIXIONGZIMEIXINGMING,MINGZI,NICKNAME,OPENID,XIANGXIDIZHI
	</sql>
	<sql id="where">
		<where>
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="createDate != null">
				and CREATEDATE = #{createDate}
			</if>
			<if test="updateDate != null">
				and UPDATEDATE = #{updateDate}
			</if>
			<if test="version != null">
				and VERSION = #{version}
			</if>
			<if test="area1Id != null">
				and AREA1ID = #{area1Id}
			</if>
			<if test="area1Name != null">
				and AREA1NAME = #{area1Name}
			</if>
			<if test="area2Id != null">
				and AREA2ID = #{area2Id}
			</if>
			<if test="area2Name != null">
				and AREA2NAME = #{area2Name}
			</if>
			<if test="area3Id != null">
				and AREA3ID = #{area3Id}
			</if>
			<if test="area3Name != null">
				and AREA3NAME = #{area3Name}
			</if>
			<if test="areaId != null">
				and AREAID = #{areaId}
			</if>
			<if test="areaName != null">
				and AREANAME = #{areaName}
			</if>
			<if test="dixiongzimeiid != null">
				and DIXIONGZIMEIID = #{dixiongzimeiid}
			</if>
			<if test="dixiongzimeixingming != null">
				and DIXIONGZIMEIXINGMING = #{dixiongzimeixingming}
			</if>
			<if test="mingzi != null">
				and MINGZI = #{mingzi}
			</if>
			<if test="nickname != null">
				and NICKNAME = #{nickname}
			</if>
			<if test="openID != null">
				and OPENID = #{openID}
			</if>
			<if test="xiangxidizhi != null">
				and XIANGXIDIZHI = #{xiangxidizhi}
			</if>
		</where>
	</sql>
	<sql id="orderById"> ORDER BY ID DESC </sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="JiaoHuiDiZhiDO">
		INSERT INTO jiaohuidizhi (
		<include refid="all_columns" />
		) VALUES
		(#{id},#{createDate},#{updateDate},#{version},#{area1Id},#{area1Name},#{area2Id},#{area2Name},#{area3Id},#{area3Name},#{areaId},#{areaName},#{dixiongzimeiid},#{dixiongzimeixingming},#{mingzi},#{nickname},#{openID},#{xiangxidizhi})
	</insert>
	<update id="update" parameterType="JiaoHuiDiZhiDO">
		UPDATE jiaohuidizhi SET
                    <![CDATA[ ID = #{id}]]>,   
                    <![CDATA[ CREATEDATE = #{createDate}]]>,   
                    <![CDATA[ UPDATEDATE = #{updateDate}]]>,   
                    <![CDATA[ VERSION = #{version}]]>,   
                    <![CDATA[ AREA1ID = #{area1Id}]]>,   
                    <![CDATA[ AREA1NAME = #{area1Name}]]>,   
                    <![CDATA[ AREA2ID = #{area2Id}]]>,   
                    <![CDATA[ AREA2NAME = #{area2Name}]]>,   
                    <![CDATA[ AREA3ID = #{area3Id}]]>,   
                    <![CDATA[ AREA3NAME = #{area3Name}]]>,   
                    <![CDATA[ AREAID = #{areaId}]]>,   
                    <![CDATA[ AREANAME = #{areaName}]]>,   
                    <![CDATA[ DIXIONGZIMEIID = #{dixiongzimeiid}]]>,   
                    <![CDATA[ DIXIONGZIMEIXINGMING = #{dixiongzimeixingming}]]>,   
                    <![CDATA[ MINGZI = #{mingzi}]]>,   
                    <![CDATA[ NICKNAME = #{nickname}]]>,   
                    <![CDATA[ OPENID = #{openID}]]>,   
                    <![CDATA[ XIANGXIDIZHI = #{xiangxidizhi}]]>,
		version = version+1 WHERE
		id=#{id} and version = #{version}
	</update>
	<select id="findOne" parameterType="long" resultType="JiaoHuiDiZhiDO">
		SELECT
		<include refid="all_columns" />
		FROM jiaohuidizhi WHERE ID=#{id}
	</select>
	<select id="findAll" resultType="JiaoHuiDiZhiDO">
		SELECT
		<include refid="all_columns" />
		FROM jiaohuidizhi
	</select>
	<select id="findListByDixiongzimeiid" parameterType="long" resultType="JiaoHuiDiZhiDO">
		SELECT
		<include refid="all_columns" />
		FROM jiaohuidizhi  WHERE dixiongzimeiid = #{DIXIONGZIMEIID}
	</select>
	<select id="findListByOpenID" parameterType="string" resultType="JiaoHuiDiZhiDO">
		SELECT
		<include refid="all_columns" />
		FROM jiaohuidizhi  WHERE OPENID = #{openID}
	</select>
	<delete id="delete" parameterType="long">
		DELETE FROM jiaohuidizhi WHERE id=#{id}
	</delete>
	<delete id="deleteByIds">
		DELETE FROM jiaohuidizhi
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="findList" resultType="JiaoHuiDiZhiDO">
		SELECT
		<include refid="all_columns" />
		FROM jiaohuidizhi
		<include refid="where" />
		<include refid="orderById" />
		LIMIT #{offset}, #{size}
	</select>
	<select id="getByIds" parameterType="list" resultType="JiaoHuiDiZhiDO">
		SELECT
		<include refid="all_columns" />
		FROM jiaohuidizhi
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>
	<select id="countList" resultType="long">
		SELECT count(1) FROM jiaohuidizhi
		<include refid="where" />
		<include refid="orderById" />
	</select>
	<select id="count" resultType="long">
		SELECT count(1) FROM jiaohuidizhi
		<include refid="orderById" />
	</select>
</mapper>
