<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weishengming.dao.mapper.JueSeMapper">
	<sql id="all_columns">
		ID,CREATEDATE,UPDATEDATE,VERSION,JUESEMINGCHENG
	</sql>
	<sql id="where">
		<where>
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="createDate != null">
				and CREATEDATE = #{createDate}
			</if>
			<if test="updateDate != null">
				and UPDATEDATE = #{updateDate}
			</if>
			<if test="version != null">
				and VERSION = #{version}
			</if>
			<if test="juesemingcheng != null">
				and JUESEMINGCHENG = #{juesemingcheng}
			</if>
		</where>
	</sql>
	<sql id="orderById"> ORDER BY ID DESC </sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="JueSeDO">
		INSERT INTO juese (
		<include refid="all_columns" />
		) VALUES
		(#{id},#{createDate},#{updateDate},#{version},#{juesemingcheng})
	</insert>
	<update id="update" parameterType="JueSeDO">
		UPDATE juese SET
                    <![CDATA[ ID = #{id}]]>,   
                    <![CDATA[ CREATEDATE = #{createDate}]]>,   
                    <![CDATA[ UPDATEDATE = #{updateDate}]]>,   
                    <![CDATA[ VERSION = #{version}]]>,   
                    <![CDATA[ JUESEMINGCHENG = #{juesemingcheng}]]>,
		version = version+1 WHERE
		id=#{id} and version = #{version}
	</update>
	<select id="findOne" parameterType="long" resultType="JueSeDO">
		SELECT
		<include refid="all_columns" />
		FROM juese WHERE ID=#{id}
	</select>
	<select id="findAll" resultType="JueSeDO">
		SELECT
		<include refid="all_columns" />
		FROM juese
	</select>
	<delete id="delete" parameterType="long">
		DELETE FROM juese WHERE id=#{id}
	</delete>
	<delete id="deleteByIds">
		DELETE FROM juese
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="findList" resultType="JueSeDO">
		SELECT
		<include refid="all_columns" />
		FROM juese
		<include refid="where" />
		<include refid="orderById" />
		LIMIT #{offset}, #{size}
	</select>
	<select id="getByIds" parameterType="list" resultType="JueSeDO">
		SELECT
		<include refid="all_columns" />
		FROM juese
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>
	<select id="countList" resultType="long">
		SELECT count(1) FROM juese
		<include refid="where" />
		<include refid="orderById" />
	</select>
	<select id="count" resultType="long">
		SELECT count(1) FROM juese
		<include refid="orderById" />
	</select>
</mapper>
