<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weishengming.dao.mapper.KeHuMapper">
	<sql id="all_columns">
		ID,CREATEDATE,UPDATEDATE,VERSION,NICKNAME,OPENID,QQ,SHOUJIHAO,WEIXINHAO,XINGMING
	</sql>
	<sql id="where">
		<where>
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="createDate != null">
				and CREATEDATE = #{createDate}
			</if>
			<if test="updateDate != null">
				and UPDATEDATE = #{updateDate}
			</if>
			<if test="version != null">
				and VERSION = #{version}
			</if>
			<if test="nickname != null">
				and NICKNAME = #{nickname}
			</if>
			<if test="openID != null">
				and OPENID = #{openID}
			</if>
			<if test="qq != null">
				and QQ = #{qq}
			</if>
			<if test="shoujihao != null">
				and SHOUJIHAO = #{shoujihao}
			</if>
			<if test="weixinhao != null">
				and WEIXINHAO = #{weixinhao}
			</if>
			<if test="xingming != null">
				and XINGMING = #{xingming}
			</if>
		</where>
	</sql>
	<sql id="orderById"> ORDER BY ID DESC </sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="KeHuDO">
		INSERT INTO kehu (
		<include refid="all_columns" />
		) VALUES
		(#{id},#{createDate},#{updateDate},#{version},#{nickname},#{openID},#{qq},#{shoujihao},#{weixinhao},#{xingming})
	</insert>
	<update id="update" parameterType="KeHuDO">
		UPDATE kehu SET
                    <![CDATA[ ID = #{id}]]>,   
                    <![CDATA[ CREATEDATE = #{createDate}]]>,   
                    <![CDATA[ UPDATEDATE = #{updateDate}]]>,   
                    <![CDATA[ VERSION = #{version}]]>,   
                    <![CDATA[ NICKNAME = #{nickname}]]>,   
                    <![CDATA[ OPENID = #{openID}]]>,   
                    <![CDATA[ QQ = #{qq}]]>,   
                    <![CDATA[ SHOUJIHAO = #{shoujihao}]]>,   
                    <![CDATA[ WEIXINHAO = #{weixinhao}]]>,   
                    <![CDATA[ XINGMING = #{xingming}]]>,
		version = version+1 WHERE
		id=#{id} and version = #{version}
	</update>
	<select id="findOne" parameterType="long" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu WHERE ID=#{id}
	</select>
	<select id="findOneByOpenID" parameterType="string" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu WHERE OPENID = #{openID}
	</select>
	<select id="findAll" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu
	</select>
	<delete id="delete" parameterType="long">
		DELETE FROM kehu WHERE id=#{id}
	</delete>
	<delete id="deleteByIds">
		DELETE FROM kehu
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="findList" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu
		<include refid="where" />
		<include refid="orderById" />
		LIMIT #{offset}, #{size}
	</select>
	<select id="getByIds" parameterType="list" resultType="KeHuDO">
		SELECT
		<include refid="all_columns" />
		FROM kehu
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>
	<select id="countList" resultType="long">
		SELECT count(1) FROM kehu
		<include refid="where" />
		<include refid="orderById" />
	</select>
	<select id="count" resultType="long">
		SELECT count(1) FROM kehu
		<include refid="orderById" />
	</select>
</mapper>
