<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weishengming.dao.mapper.ZanMapper">
    <sql id="all_columns">
        ID,CREATEDATE,UPDATEDATE,VERSION,LEIXING,OBJID,OPENID,ZHUANGTAI
    </sql>
    <sql id="where" >
        <where>
                	<if test="id != null">
            	and ID = #{id}
            </if>
                	<if test="createDate != null">
            	and CREATEDATE = #{createDate}
            </if>
                	<if test="updateDate != null">
            	and UPDATEDATE = #{updateDate}
            </if>
                	<if test="version != null">
            	and VERSION = #{version}
            </if>
                	<if test="leixing != null">
            	and LEIXING = #{leixing}
            </if>
                	<if test="objid != null">
            	and OBJID = #{objid}
            </if>
                	<if test="openID != null">
            	and OPENID = #{openID}
            </if>
                	<if test="zhuangtai != null">
            	and ZHUANGTAI = #{zhuangtai}
            </if>
                </where>
    </sql>
    <sql id="orderById"> ORDER BY ID DESC </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ZanDO">
        INSERT INTO zan (<include refid="all_columns"/>
        ) VALUES 
        (#{id},#{createDate},#{updateDate},#{version},#{leixing},#{objid},#{openID},#{zhuangtai})
    </insert>
    <update id="update" parameterType="ZanDO">
        UPDATE zan SET
                    <![CDATA[ ID = #{id}]]>,   
                    <![CDATA[ CREATEDATE = #{createDate}]]>,   
                    <![CDATA[ UPDATEDATE = #{updateDate}]]>,   
                    <![CDATA[ VERSION = #{version}]]>,   
                    <![CDATA[ LEIXING = #{leixing}]]>,   
                    <![CDATA[ OBJID = #{objid}]]>,   
                    <![CDATA[ OPENID = #{openID}]]>,   
                    <![CDATA[ ZHUANGTAI = #{zhuangtai}]]>,   
                version = version+1 
        WHERE
        id=#{id} and version = #{version}
    </update>
    <select id="findOne" parameterType="long" resultType="ZanDO">
        SELECT <include refid="all_columns"/>
        FROM zan WHERE ID=#{id}
    </select>
    <select id="findAll" resultType="ZanDO">
        SELECT <include refid="all_columns"/>
        FROM zan
    </select>
    <delete id="delete" parameterType="long">
        DELETE FROM zan WHERE id=#{id}
    </delete>
    <delete id="deleteByIds">
        DELETE FROM zan
        <where>
            ID in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>
    
    <select id="findList" resultType="ZanDO">
        SELECT <include refid="all_columns"/>
        FROM zan
        <include refid="where"/> <include refid="orderById"/>
        LIMIT #{offset}, #{size}
    </select>
    <select id="getByIds" parameterType="list" resultType="ZanDO">
        SELECT <include refid="all_columns"/>
        FROM zan
        <where>
            ID in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="countList" resultType="long">
        SELECT count(1) FROM zan <include refid="where"/> <include refid="orderById"/>
    </select>
    <select id="count" resultType="long">
        SELECT count(1) FROM zan  <include refid="orderById"/>
    </select>
</mapper>
