<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>微生命</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
      <li><b><a href="/qiu/qiu" style="font-size: 18px">祈求</a></b></li>
      <li><a href="/gei/gei">给予</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;祈求&nbsp;&nbsp;<small>你们祈求</small></h4>
       </div>
        <form action="/qiu/qiugengxin" method="post" >
      <input type="hidden" name="openID" value="$!dixiongzimei.openID">
	  <div class="form-group row">
	    <div class="col-sm-12">
	      <textarea class="form-control" rows="" cols="" name="neirong" placeholder="请输入祈求内容"></textarea>
	    </div>
	  </div>
	   <div class="form-group row">
	    <div class="col-sm-10">
	    </div>
	    <div class="col-sm-2">
	      <button type="submit" class="btn btn-block btn-info">提交祈求</button>
	    </div>
	  </div> 
	  </form>
      
       #foreach($!qiu in $!resultViewList) 
	  	<div class="alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <p><h4><a><img alt="" src="$!qiu.imgsrc30">&nbsp;$!qiu.nickname </a></h4>
			 $!qiu.neirong
	      </p>
		</div>
	    #end
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/qiu" class="list-group-item active">首页</a>
            <a href="/qiu" class="list-group-item">我的祈求</a>
            <a href="/qiu" class="list-group-item">我的收藏</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
      
  </body>
</html>