<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weishengming.user.dao.mapper.UserMapper">
	<sql id="all_columns">
		USER_ID,TRUENAME,SEX,SCHOOL,RUXUENIANFEN,ZHUANYE,XUEZHI,BANJI,SUSHEDIZHI,YUANJIDIZHI,BANKNAME,BANKADDR,BANKCARDNUM,MOBILEPWD,XUEXINWANG,XUEXINWANGPWD,XUELI,WEIXINHAOMA,QQ,XINGMING1,GUANXI1,PHONE1,XINGMING2,GUANXI2,PHONE2,DAOYUANXINGMING,DAOYUANDIANHUA,TONGXUEXINGMING1,SUSHEDIANHUA1,TONGXUEXINGMING2,SUSHEDIANHUA2,TONGXUEXINGMING3,SUSHEDIANHUA3,MTIME,EMAIL,ID_CARD,TAOBAO_USERNAME,TAOBAO_PASSWORD,JD_USERNAME,JD_PASSWORD,GUANXI1_ZT,GUANXI1_ZT_DAILINAME,GUANXI2_ZT,GUANXI2_ZT_DAILINAME,SUSHEDIANHUA1_ZT,SUSHEDIANHUA1_ZT_DAILINAME,SUSHEDIANHUA2_ZT,SUSHEDIANHUA2_ZT_DAILINAME,EMAIL_PASSWORD,APPEMAIL_KEY
	</sql>
	<sql id="where">
		<where>
		    <if test="user_id != null">
				and USER_ID = #{user_id}
			</if>
			<if test="truename != null">
				and TRUENAME = #{truename}
			</if>
			<if test="sex != null">
				and SEX = #{sex}
			</if>
			<if test="school != null">
				and SCHOOL = #{school}
			</if>
			<if test="ruxuenianfen != null">
				and RUXUENIANFEN = #{ruxuenianfen}
			</if>
			<if test="zhuanye != null">
				and ZHUANYE = #{zhuanye}
			</if>
			<if test="xuezhi != null">
				and XUEZHI = #{xuezhi}
			</if>
			<if test="banji != null">
				and BANJI = #{banji}
			</if>
			<if test="sushedizhi != null">
				and SUSHEDIZHI = #{sushedizhi}
			</if>
			<if test="yuanjidizhi != null">
				and YUANJIDIZHI = #{yuanjidizhi}
			</if>
			<if test="bankname != null">
				and BANKNAME = #{bankname}
			</if>
			<if test="bankaddr != null">
				and BANKADDR = #{bankaddr}
			</if>
			<if test="bankcardnum != null">
				and BANKCARDNUM = #{bankcardnum}
			</if>
			<if test="mobilePwd != null">
				and MOBILEPWD = #{mobilePwd}
			</if>
			<if test="xuexinwang != null">
				and XUEXINWANG = #{xuexinwang}
			</if>
			<if test="xuexinwangPwd != null">
				and XUEXINWANGPWD = #{xuexinwangPwd}
			</if>
			<if test="xueli != null">
				and XUELI = #{xueli}
			</if>
			<if test="weixinhaoma != null">
				and WEIXINHAOMA = #{weixinhaoma}
			</if>
			<if test="qq != null">
				and QQ = #{qq}
			</if>
			<if test="xingming1 != null">
				and XINGMING1 = #{xingming1}
			</if>
			<if test="guanxi1 != null">
				and GUANXI1 = #{guanxi1}
			</if>
			<if test="phone1 != null">
				and PHONE1 = #{phone1}
			</if>
			<if test="xingming2 != null">
				and XINGMING2 = #{xingming2}
			</if>
			<if test="guanxi2 != null">
				and GUANXI2 = #{guanxi2}
			</if>
			<if test="phone2 != null">
				and PHONE2 = #{phone2}
			</if>
			<if test="daoyuanxingming != null">
				and DAOYUANXINGMING = #{daoyuanxingming}
			</if>
			<if test="daoyuandianhua != null">
				and DAOYUANDIANHUA = #{daoyuandianhua}
			</if>
			<if test="tongxuexingming1 != null">
				and TONGXUEXINGMING1 = #{tongxuexingming1}
			</if>
			<if test="sushedianhua1 != null">
				and SUSHEDIANHUA1 = #{sushedianhua1}
			</if>
			<if test="tongxuexingming2 != null">
				and TONGXUEXINGMING2 = #{tongxuexingming2}
			</if>
			<if test="sushedianhua2 != null">
				and SUSHEDIANHUA2 = #{sushedianhua2}
			</if>
			<if test="tongxuexingming3 != null">
				and TONGXUEXINGMING3 = #{tongxuexingming3}
			</if>
			<if test="sushedianhua3 != null">
				and SUSHEDIANHUA3 = #{sushedianhua3}
			</if>
			<if test="mtime != null">
				and MTIME = #{mtime}
			</if>
			<if test="email != null">
				and EMAIL = #{email}
			</if>
		</where>
	</sql>
	<sql id="orderById"> ORDER BY USER_ID DESC </sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="user_id"
		parameterType="UserDO">
		INSERT INTO user_info (
		<include refid="all_columns" />
		) VALUES
		(#{user_id},#{truename},#{sex},#{school},#{ruxuenianfen},#{zhuanye},#{xuezhi},#{banji},#{sushedizhi},#{yuanjidizhi},#{bankname},#{bankaddr},#{bankcardnum},#{mobilePwd},#{xuexinwang},#{xuexinwangPwd},#{xueli},#{weixinhaoma},#{qq},#{xingming1},#{guanxi1},#{phone1},#{xingming2},#{guanxi2},#{phone2},#{daoyuanxingming},#{daoyuandianhua},#{tongxuexingming1},#{sushedianhua1},#{tongxuexingming2},#{sushedianhua2},#{tongxuexingming3},#{sushedianhua3},#{mtime},#{email})
	</insert>
	<update id="update" parameterType="UserDO">
		UPDATE user_info SET
		            <![CDATA[ USER_ID = #{user_id}]]>,
                    <![CDATA[ TRUENAME = #{truename}]]>,   
                    <![CDATA[ SEX = #{sex}]]>,   
                    <![CDATA[ SCHOOL = #{school}]]>,   
                    <![CDATA[ RUXUENIANFEN = #{ruxuenianfen}]]>,   
                    <![CDATA[ ZHUANYE = #{zhuanye}]]>,   
                    <![CDATA[ XUEZHI = #{xuezhi}]]>,   
                    <![CDATA[ BANJI = #{banji}]]>,   
                    <![CDATA[ SUSHEDIZHI = #{sushedizhi}]]>,   
                    <![CDATA[ YUANJIDIZHI = #{yuanjidizhi}]]>,   
                    <![CDATA[ BANKNAME = #{bankname}]]>,   
                    <![CDATA[ BANKADDR = #{bankaddr}]]>,   
                    <![CDATA[ BANKCARDNUM = #{bankcardnum}]]>,   
                    <![CDATA[ MOBILEPWD = #{mobilePwd}]]>,   
                    <![CDATA[ XUEXINWANG = #{xuexinwang}]]>,   
                    <![CDATA[ XUEXINWANGPWD = #{xuexinwangPwd}]]>,   
                    <![CDATA[ XUELI = #{xueli}]]>,   
                    <![CDATA[ WEIXINHAOMA = #{weixinhaoma}]]>,   
                    <![CDATA[ QQ = #{qq}]]>,   
                    <![CDATA[ XINGMING1 = #{xingming1}]]>,   
                    <![CDATA[ GUANXI1 = #{guanxi1}]]>,   
                    <![CDATA[ PHONE1 = #{phone1}]]>,   
                    <![CDATA[ XINGMING2 = #{xingming2}]]>,   
                    <![CDATA[ GUANXI2 = #{guanxi2}]]>,   
                    <![CDATA[ PHONE2 = #{phone2}]]>,   
                    <![CDATA[ DAOYUANXINGMING = #{daoyuanxingming}]]>,   
                    <![CDATA[ DAOYUANDIANHUA = #{daoyuandianhua}]]>,   
                    <![CDATA[ TONGXUEXINGMING1 = #{tongxuexingming1}]]>,   
                    <![CDATA[ SUSHEDIANHUA1 = #{sushedianhua1}]]>,   
                    <![CDATA[ TONGXUEXINGMING2 = #{tongxuexingming2}]]>,   
                    <![CDATA[ SUSHEDIANHUA2 = #{sushedianhua2}]]>,   
                    <![CDATA[ TONGXUEXINGMING3 = #{tongxuexingming3}]]>,   
                    <![CDATA[ SUSHEDIANHUA3 = #{sushedianhua3}]]>,   
                    <![CDATA[ MTIME = #{mtime}]]>,   
                    <![CDATA[ EMAIL = #{email}]]>,
		version = version+1 WHERE
		id=#{id} and version = #{version}
	</update>
	<select id="findOne" parameterType="long" resultType="UserDO">
		SELECT
		<include refid="all_columns" />
		FROM user_info WHERE ID=#{id}
	</select>
	<select id="findAll" resultType="UserDO">
		SELECT
		<include refid="all_columns" />
		FROM user_info
	</select>
	<delete id="delete" parameterType="long">
		DELETE FROM user_info WHERE user_id=#{user_id}
	</delete>
	<delete id="deleteByIds">
		DELETE FROM user_info
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="findList" resultType="UserDO">
		SELECT
		<include refid="all_columns" />
		FROM user_info
		<include refid="where" />
		<include refid="orderById" />
		LIMIT #{offset}, #{size}
	</select>
	<select id="getByIds" parameterType="list" resultType="UserDO">
		SELECT
		<include refid="all_columns" />
		FROM user_info
		<where>
			ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>
	<select id="countList" resultType="long">
		SELECT count(1) FROM user_info
		<include refid="where" />
		<include refid="orderById" />
	</select>
	<select id="count" resultType="long">
		SELECT count(1) FROM user_info
		<include refid="orderById" />
	</select>
</mapper>
