<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>视频管理</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">微生命后台</a></b></h4></li>
      <li><a href="/admin/leixing/leixinglist">类型管理</a></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  <li><b><a href="/admin/shipin/shipinlist" style="font-size: 18px">视频管理</a></b></li>
	  <li><a href="/admin/jiaotang/jiaotanglist">教堂地址管理</a></li>
	  <li><a href="/admin/dixiongzimei/dixiongzimeilist">弟兄姊妹管理</a></li>
	</ol> 
   <div class="container">
     <form class="form-inline" action="" method="get">
	  <div class="form-group">
	     <select class="form-control" name="fubiaoti" id="fubiaoti" >
		       <option value="光明人生">一-光明人生</option>
		       <option value="幸福人生">二-幸福人生</option>
		       <option value="丰富人生">三-丰富人生</option>
	        </select>
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" name="biaoti" id="biaoti" value="$!query.biaoti"   placeholder="标题">
	  </div>
	  <div class="form-group">
	  <button type="submit" class="btn btn-success">查询</button>
	  <a class="btn btn-primary" href="/admin/shipin/shipinedit/-1">添加</a>
	  </div>
	</form> 
    <br/> 
	<table class="datatable table table-bordered table-hover">
	<thead>
		<tr class="success">
		    <th>序号</th>
		    <th>父标题</th>
		    <th>第几个</th>
			<th>标题</th>
			<th>土豆地址</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	    #set($index=$result.index)
	    #foreach($!model in $!resultViewList)  
		<tr>
		    <td class="align-center">$index</td>
		    <td>$!model.fubiaoti</td>
		    <td>$!model.dijige</td>
			<td>$!model.biaoti</td>
			<td>$!model.tudousrc</td>
			<td>
	            <a class="btn btn-success" href="/admin/shipin/shipinedit/$!{model.id}">编辑</a>
	        </td>
		</tr>
		 #set($index=$index+1)
		#end
	</tbody>
</table> 
  #parse ("/common/page.html")
     
   </div><!-- .container -->
  </body>
</html>