<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <title>视频管理|编辑</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">微生命后台</a></b></h4></li>
      <li><a href="/admin/leixing/leixinglist">类型管理</a></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  <li><b><a href="/admin/shipin/shipinlist" style="font-size: 18px">视频管理</a></b></li>
	  <li><a href="/admin/jiaotang/jiaotanglist">教堂管理</a></li>
	</ol> 
   <div class="container">
    <form action="/admin/shipin/shipinupdate" method="post" >
	  <input type="hidden" name="id"  value="$!model.id">
	  <div class="form-group row">
	    <label for="xingming" class="col-sm-2 form-control-label">父标题<span class="required">*</span></label>
	    <div class="col-sm-10">
		     <select class="form-control" name="fubiaoti" id="fubiaoti" >
		       <option #if($!model.fubiaoti=='光明人生') selected #end value="光明人生">一-光明人生</option>
		       <option #if($!model.fubiaoti=='幸福人生') selected #end value="幸福人生">二-幸福人生</option>
		       <option #if($!model.fubiaoti=='丰富人生') selected #end value="丰富人生">三-丰富人生</option>
	        </select>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">第几个<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="dijige" id="dijige" value="$!model.dijige" placeholder="第几个">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">标题<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="biaoti" id="biaoti" value="$!model.biaoti" placeholder="标题">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">土豆地址<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="tudousrc" id="tudousrc" value="$!model.tudousrc" placeholder="土豆地址">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">视频描述<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <textarea class="form-control" rows="10" name="miaoshu" id="miaoshu"   placeholder="视频描述">$!model.miaoshu</textarea>
	    </div>
	  </div>
	   
	  <div class="form-group row">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-block btn-primary">更新</button>
	    </div>
	  </div>  
	 </form>
     
   </div><!-- .container -->
  </body>
</html>