<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <title>谈天说地|后记</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	  <li><a href="/aiziji">爱自己</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs fixed-top">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
          </p>
          <div class="jumbotron">
            <h1>谈天说地</h1>
          </div>
          <div class="row">
          
            <div class="col-xs-12 col-lg-12">
              <h3>后记</h3>
              <div>
                <p>跨过燠热的盛夏，便感觉到秋风在亲吻人的脸颊。在一般人的意象中，秋风横扫落叶，故秋季意味着萧条。然而现实的初秋，则大地依然葱葱，欣欣向荣。天空也变得更加深邃和瑰丽，白云悠悠地飘在蓝天上，带给人无限的遐想。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;当我沉浸于欣赏造物主那&ldquo;秋&rdquo;的杰作之时，省基督教协会会长孙锡培牧师转告我，说我的拙作《说地谈天》可以出版了。说实话，当时我的心情有点象 &ldquo;小孩子放鞭炮&mdash;&mdash;又高兴又惧怕&rdquo;。高兴的原因自然不用细说，毕竟能给机会出书是对我文字侍奉的一种极大鼓励；说到惧怕，那是因为尽管这是我的第二本书 (第一本《跨越死亡》，由全国两会出版)。但就思想性和文字表达技巧性来说，这依然属于&ldquo;处女作&rdquo;(&mdash;&mdash;初级阶段的作品)，十分&ldquo;简陋、粗糙&rdquo;，故仍有 &ldquo;丑媳妇难见公婆&rdquo;之羞。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;无论你是否是基督徒，现代人都会感到自己生活的节奏在加快，生存的压力在增大。所以忙碌的身影背后隐藏着一颗劳倦疲惫的心，它需要&ldquo;晒晒太阳&rdquo;， 需要活水滋润。当初编写《说地谈天》的目的就是在于此，让读者每一天捡一个地上的故事，每一日听一次天上的声音。倘真能有如此果效，是我莫大的欣慰。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;此书能够面世，省两会中除了要感谢二位老牧长邓福村牧师、孙锡培牧师指教之外。倪光道牧师也是我不能不谢的，与他共事，留给我的都是一些愉快的回 忆。另外，周恩眷、戴娜、杨曙光、陆婉慈、吴慧等主内亲爱的好同工在帮我查考材料、文字输入、校对等工作上所作的贡献不可抹杀，我非得要说谢谢不可!还有 我的老乡好兄弟俞伟忠，他为本书的设计版面所增的&ldquo;色&rdquo;是大家有目共睹的。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;当然，本书取材比较广泛，除了日常讲坛笔记、个人心得之外，还撷取了不少近年来教内外已经出版的各类喻道故事、哲理小品集中的一些精彩片断，然后 加以整理、改编、撰写。为此，我们还得感谢这些为人类健康先进的文化事业提供丰富见解与情感的智者(不论他有否信仰)，他们的思想之树常青!<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;由于灵命幼稚，水平有限，不当之处在所难免，敬请各位批评指正。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;计文<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;于2003年秋</p>
              <hr>
              </div>
            </div>
            
          </div><!--/row-->
       </div><!--/.col-xs-12.col-sm-9-->
      
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/ttsd/ttsdindex" class="list-group-item">前言</a>
            <a href="/ttsd/1-48" class="list-group-item">一- 智慧人生[1-48]</a>
            <a href="/ttsd/49-93" class="list-group-item">二-人际金律[49-93]</a>
            <a href="/ttsd/94-137" class="list-group-item">三-心灵故事[94-137]</a>
            <a href="/ttsd/138-185" class="list-group-item">四-爱的诗歌[138-185]</a>
            <a href="/ttsd/164-183" class="list-group-item">五-伊甸风云[164-183]</a>
            <a href="/ttsd/186-207" class="list-group-item">六-欲海警笛[186-207]</a>
            <a href="/ttsd/208-299" class="list-group-item">七-夜半歌声[208-229]</a>
            <a href="/ttsd/230-244" class="list-group-item">八-与神同行[230-244]</a>
            <a href="/ttsd/245-266" class="list-group-item">九-尽忠天职[245-266]</a>
            <a href="/ttsd/267-290" class="list-group-item">十-溪边捡石[267-290]</a>
            <a href="/ttsd/291-341" class="list-group-item">十一-心海拾贝[291-341]</a>
            <a href="/ttsd/342-365" class="list-group-item">十二-永恒之恋[342-365]</a>
            <a href="/ttsd/ttsdend" class="list-group-item active">后记</a>
         </div>
	   </div><!-- 6 -3 -->
	   
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>