<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <link href="${static_resource}/resources/css/qmzx.css" rel="stylesheet">
    
    <title>微生命|奇妙真相</title>
  </head>
  <body>
   <nav class="navbar navbar-default" role="navigation">
	   <div class="navbar-header">
	     <button type="button" class="navbar-toggle" data-toggle="collapse" 
	         data-target="#example-navbar-collapse">
	         <span class="sr-only">切换导航</span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/index">微生命</a>
	   </div>
	   
	   <div class="collapse navbar-collapse" id="example-navbar-collapse">
	      <ul class="nav navbar-nav">
	         <li><a href="/kehu/kehuupdate">我的信息</a></li>
	         <li><a href="/wenti/wentiupdate">我的问题</a></li>
	         <li><a href="/ziyuan/ziyuanupdate">我的资源</a></li>
	         <li><a href="/dizhi/dizhiupdate">我的地址</a></li>
	         <li><a href="/qmzx/qmzxlist">奇妙真相</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a></a></li>
            <li>
             #if(! $!name) <a href="/qqLogin">QQ登陆</a>  #else <a href="#"><img alt="" width="20px" height="18px" src="$!imgsrc">&nbsp;$!name</a> #end
             </li>
          </ul>
	   </div>
   </nav>
   
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-sm-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
          </p>
          <div class="jumbotron">
            <h1>奇妙真相</h1>
            <h3>上帝的信息&nbsp;我们的使命</h3>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
             <div class="col-sm-6 col-sm-4">
              <embed src="http://www.tudou.com/v/eq3jHItDJrM/&resourceId=0_05_11_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="250" height="250"></embed>
            </div><!--/.col-sm-6.col-sm-4-->
          </div><!--/row-->
        </div><!--/.col-sm-12.col-sm-9-->

        <div class="col-sm-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">信仰方程式</a>
            <a href="#" class="list-group-item">最重要的问题</a>
            <a href="#" class="list-group-item">最高的目标</a>
            <a href="#" class="list-group-item">宇宙之战</a>
            <a href="#" class="list-group-item">永远的福音I</a>
            <a href="#" class="list-group-item">永远的福音II</a>
            <a href="#" class="list-group-item">十诫系列</a>
            <a href="#" class="list-group-item">奇妙探险</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>
	  <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">显示视频版权</button></p>
	  <div class="collapse" id="collapseExample">
		  <div class="card card-block">
		      奇妙真相视频由www.qimiaozhenxiang.com 提供.
		  </div>
	  </div>
    </div><!--/.container-->
   <script>
     $(document).ready(function () {
	   $('[data-toggle="offcanvas"]').click(function () {
	     $('.row-offcanvas').toggleClass('active');
	   });
	  });
   </script>
  </body>
</html>