<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>常去的教会</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li><li><a href="/dixiongzimei/dixiong">求助帅哥</a></li><li><a href="/dixiongzimei/zimei">求助美女</a></li>
	</ol> 
  
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;$!dixiongzimei.nickname&nbsp;&nbsp;<small>常去教会</small></h4>
       </div>
       #foreach($!jiaohuidizhi in $!resultViewJiaoHuiDiZhiList) 
	  	<div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <p><h4>$!jiaohuidizhi.mingzi
	           <a class="btn btn-xs btn-link" href="/jiaohuidizhi/jiaohuidizhidelete/$!{jiaohuidizhi.id}">删除</a>
	         </h4>
			 $!jiaohuidizhi.areaName
			 $!jiaohuidizhi.area1Name
			 $!jiaohuidizhi.area2Name
			 $!jiaohuidizhi.area3Name
			 $!jiaohuidizhi.xiangxidizhi
	      </p>
		</div>
	    #end
	 <form action="/jiaohuidizhi/jiaohuidizhigengxin" method="post" >
      <input type="hidden" name="openID" value="$!dixiongzimei.openID">
      <input type="hidden" name="nickname" value="$!dixiongzimei.nickname">
      <input type="hidden" name="dixiongzimeiid" value="$!dixiongzimei.id">
      <input type="hidden" name="dixiongzimeixingming" value="$!dixiongzimei.xingming">
	  <div class="form-group row">
	    <label for="leixing" class="col-sm-2 form-control-label">教会名字</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="text" name="mingzi" value="">
	    </div>
	  </div>
	   <div class="form-group row">
	    <label for="areaId" class="col-sm-2 form-control-label">省</label>
	    <div class="col-sm-10">
	      <select class="form-control first-label" name="areaId" id="areaId" onchange="getArea1()">
	      </select>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="area1Id" class="col-sm-2 form-control-label">市</label>
	    <div class="col-sm-10">
	      <select class="form-control" name="area1Id" id="area1Id" onchange="getArea2()">
	      </select>
	    </div>
	  </div>
	  <span id="area2Span" style="display: none;">
		  <div class="form-group row">
		    <label for="area2Id" class="col-sm-2 form-control-label">县/区</label>
		    <div class="col-sm-10">
		      <select class="form-control" name="area2Id" id="area2Id"  onchange="getArea3()">
		      </select>
		    </div>
		  </div>
	  </span>
	  <span id="area3Span" style="display: none;">
	    <div class="form-group row">
	    <label for="area3Id" class="col-sm-2 form-control-label" >乡/镇</label>
	    <div class="col-sm-10">
	      <select class="form-control" name="area3Id" id="area3Id" onchange="getArea4()">
	      </select> 
	    </div>
	   </div>
	  </span> 
	  <input type="hidden" id="areaName"  name="areaName"   value="$!dizhi.areaName"> 
	  <input type="hidden" id="area1Name" name="area1Name" value="$!dizhi.area1Name">
	  <input type="hidden" id="area2Name" name="area2Name" value="$!dizhi.area2Name">
	  <input type="hidden" id="area3Name" name="area3Name" value="$!dizhi.area3Name">
	  <div class="form-group row">
	    <label for="xiangxidizhi" class="col-sm-2 form-control-label">详细</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="xiangxidizhi" id="xiangxidizhi"  value="$!dizhi.xiangxidizhi" placeholder="详细地址">
	    </div>
	  </div>
	   <div class="form-group row">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-block btn-success">更新地址</button>
	    </div>
	  </div> 
	  </form>
   </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
         <div class="list-group">
             <a href="/index" class="list-group-item">首页</a>
             <a href="/ttsd/1-48" class="list-group-item">谈天说地</a>
             <a href="/qmzx/1" class="list-group-item">奇妙真相</a>
             <a href="/sjzl/1-5" class="list-group-item">圣经纵览</a>
             <a href="/wenzhang/wenzhang/kuangyehusheng" class="list-group-item">旷野呼声</a>
             
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
    <script type="text/javascript" src="${static_resource}/resources/js/dizhi/dizhi.js"></script>
  </body>
</html>