
<table class="datatable table table-bordered table-hover">
	<thead>
		<tr class="success">
			<th>内容</th>
			<th>排序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	    #foreach($!model in $!resultList) 
		<tr>
		    <td>$!model.neirong</td>
		    <td>$!model.paixu</td>
			<td>
	            <a class="btn btn-link" onclick="AdminShuJuZiDian.shujuzidian_zi_delete_ajax('$!model.id')">删除</a>
	        </td>
		</tr>
		#end
	</tbody>
</table> 

<form action="" method="post" >
 <input type="hidden"   id="id_zi_input" value="$!model.id">
 <input type="hidden"   id="fuid_zi_input" value="$!model.fuid">
 <input type="hidden"   id="funeirong_zi_input" value="$!model.funeirong">
 <div class="form-group row">
   <label for="shoujihao" class="col-sm-2 form-control-label">内容<span class="required">*</span></label>
   <div class="col-sm-10">
     <input type="text" class="form-control"  id="neirong_zi_input"  placeholder="内容">
   </div>
 </div>
 
 <div class="form-group row">
   <label for="shoujihao" class="col-sm-2 form-control-label">排序<span class="required">*</span></label>
   <div class="col-sm-10">
     <input type="text" class="form-control"  id="paixu_zi_input"   placeholder="排序">
   </div>
 </div>
	 <div class="form-group row">
	   <div class="col-sm-offset-2 col-sm-10">
	     <button type="button" onclick="AdminShuJuZiDian.shujuzidian_zi_update_ajax()" class="btn btn-block btn-primary">添加数据字典</button>
	   </div>
	 </div>  
</form>