<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>十诫系列</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li><li><a href="/dixiongzimei/dixiong">求助帅哥</a></li><li><a href="/dixiongzimei/zimei">求助美女</a></li>
	  
	  
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs fixed-top">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
          </p>
           <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;奇妙真相&nbsp;&nbsp;<small>十诫系列</small></h4>
           </div>
            <div class="row">
              #foreach($!model in $!resultList)
			  <div class="col-xs-12 col-lg-4">
			    <div class="thumbnail">
			     <iframe src="$!model.tudousrc" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true" scrolling="no" border="0" frameborder="0" width="100%" height="100%"></iframe>
			      <div class="caption">
			        <h3>$!model.dijige . $!model.biaoti</h3>
			        <p>$!model.miaoshu</p>
			      </div>
			    </div>
			  </div>
			  #end
			</div><!-- .row -->
       </div><!--/.col-xs-12.col-sm-9-->
      
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/index" class="list-group-item">首页</a>
            <a href="/qmzx/1" class="list-group-item">一-宇宙之战</a>
            <a href="/qmzx/2" class="list-group-item">二-最重要的问题</a>
            <a href="/qmzx/3" class="list-group-item">三-最高的目标</a>
            <a href="/qmzx/4" class="list-group-item">四-奇妙探险</a>
            <a href="/qmzx/5" class="list-group-item">五-信仰方程式</a>
            <a href="/qmzx/6" class="list-group-item">六-永远的福音I</a>
            <a href="/qmzx/7" class="list-group-item">七-永远的福音II</a>
            <a href="/qmzx/8" class="list-group-item active">八-十诫系列</a>
            <a href="/qmzx/9" class="list-group-item">九-亲近上帝</a>
            <a href="/qmzx/10" class="list-group-item">十-最奇妙的圣经预言</a>
            <a href="/qmzx/11" class="list-group-item">十一-天启概要</a>
            <a href="/qmzx/12" class="list-group-item">十二-预言的地标</a>
            <a href="/qmzx/13" class="list-group-item">十三-信心的勇士</a>
         </div>
	   </div><!-- 6 -3 -->
	   
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>