<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>微生命</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><b><a href="/aishangdi" style="font-size: 18px">爱上帝</a></b></li>
	  <li><a href="/aitaren">爱他人</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;$!model.fubiaoti&nbsp;&nbsp;<small>$!model.biaoti</small></h4>
       </div>
       $!model.neirong
      </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <div class="list-group">
             <a href="/aishangdi" class="list-group-item">首页</a>
             <a href="/ttsd/1-48" class="list-group-item">谈天说地</a>
             <a href="/qmzx/1" class="list-group-item">奇妙真相</a>
             <a href="/sjzl/1-5" class="list-group-item">圣经纵览</a>
             <a href="/wenzhang/wenzhang/kuangyehusheng" class="list-group-item active">旷野呼声</a>
         </div>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
      
  </body>
</html>