<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <title>文章|前言</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
	  <li><a href="/aishangdi">爱上帝</a></li>
	  <li><a href="/aitaren">爱他人</a></li>
	  <li><a href="/aiziji">爱自己</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs fixed-top">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">菜单</button>
          </p>
          <div class="jumbotron">
            <h1>谈天说地</h1>
          </div>
          <div class="row">
          
            <div class="col-xs-12 col-lg-12">
              <h3>前言</h3>
              <div>
              <p>《圣经-撒母耳记下》12章中有这样一个故事：<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;大卫王霸占了乌利亚之妻拔示巴之后，又用&ldquo;借刀杀人&rdquo;之计谋害了乌利亚，这件恶事自然瞒不过神的眼目，神就差先知拿单去见大卫，对他说：<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;在一座城里有两个人，一个是富户，一个是穷人。富户有许多牛群羊群，穷人除了买来养活的一只小母羊羔之外，别无所有&hellip;&hellip;有一客人来到这富户家 里，富户舍不得从自己的牛群羊群中取一只预备给客人吃，却取了那穷人的羊羔，预备给客人吃。&rdquo;大卫听了这故事后就甚恼怒那人，对拿单说：&ldquo;我指着永生的耶 和华起誓，行这事的人该死!他必偿还羊羔四倍，因为他行事，没有怜恤的心。&rdquo;拿单对大卫说：&ldquo;你就是那人!&rdquo;(撒下12：l-7)<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;这里，先知拿单所用的正是一个十分妥贴的喻道故事，循循善诱，柔中见刚。最后不得不让身为一国之君的大卫束手就擒，无地自容，不得不俯伏忏悔：&ldquo;我得罪耶和华了!&rdquo;<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;喻道故事在阐明救恩、传扬信息、令人反思、给人启迪等方面功效卓着，它如箭上之羽、船尾之舵、房中之窗，使劝勉有的放矢，使主题直奔标杆，使信息透光透力。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;有一些人不知出于什么动机，常常爱把一个很简单的道理用深奥晦涩的语言来表达；然而，基督耶稣则喜欢把深奥的真理用浅显易明的话语来阐述，正如他 自己所言：&ldquo;我要开口用比喻，把创世以来隐藏的事发明出来。&rdquo;(太13：35)。从天上的飞鸟到野地的百合花，从渔夫的撒网到牧童的吹笛，从少妇的饰钱到 匠人的石头，俯拾即是他讲明天国道理的材料。在主耶稣看来，人类要与神和好的最好中保就是他自己的道成肉身，而人类与真理之间的最短距离就是那些喻道故事 了。路加福音15章中那位少妇丢失的银钱最后是藉着廉价的蜡烛找到的，同样，上帝启示给人的真理每每也是藉着由非常简单的故事所发现的。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;无论是在个人灵修默想之中，还是在传扬信息的讲坛之上，喻道故事一直是我的良朋益友。因为喜欢它，所以常常收藏它；因为它有助于我，我也常常使用 它。几年前的一个晚上，偶遇邓福村牧师，他就鼓励我把这些信徒较喜欢的又能给人启迪的喻道故事整理出来汇编成册，并且他送给了我一个书名叫&ldquo;说地谈天&rdquo;， 我暗暗不由得拍手叫好!因为所有故事说的全是地上的事物，而要阐明的则是属天的真理，冠以&ldquo;说地谈天&rdquo;真是既精辟又巧妙!而且，与平时人们惯用的成语&ldquo;谈 天说地&rdquo;相反，可谓意味深长。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;匆忙的尘世脚步，心灵期盼稍稍驻足；沉重的生活压力，灵魂需要机会喘息。这里有365个故事，每一天或在晨光里或暮色中，你要学会披沙拣金&mdash;&mdash;就 是用你心灵的眼睛去寻觅埋藏在这每一个小故事里面的人生大智慧。不必一口气读完，若能每日一则，掩卷深思，用祈祷的心细嚼慢咽，你必将获得一天奔走的力量 和校正自我的勇气。这里没有长篇大论的讲解和议论，只有浅显易懂的故事和扼要的解读，特别是那一节画龙点睛的经文，希望能点燃你心灵中灿烂火热的光芒。<br />
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;但愿这本《说地谈天》不仅仅成为你饭后茶余中&ldquo;谈天说地&rdquo;的内容，而真正成为你&ldquo;在地如天&rdquo;生活中的良朋益友！</p>
              <hr>
              </div>
            </div>
            
          </div><!--/row-->
       </div><!--/.col-xs-12.col-sm-9-->
      
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/ttsd/ttsdindex" class="list-group-item active">前言</a>
            <a href="/ttsd/1-48" class="list-group-item">一- 智慧人生[1-48]</a>
            <a href="/ttsd/49-93" class="list-group-item">二-人际金律[49-93]</a>
            <a href="/ttsd/94-137" class="list-group-item">三-心灵故事[94-137]</a>
            <a href="/ttsd/138-185" class="list-group-item">四-爱的诗歌[138-185]</a>
            <a href="/ttsd/164-183" class="list-group-item">五-伊甸风云[164-183]</a>
            <a href="/ttsd/186-207" class="list-group-item">六-欲海警笛[186-207]</a>
            <a href="/ttsd/208-299" class="list-group-item">七-夜半歌声[208-229]</a>
            <a href="/ttsd/230-244" class="list-group-item">八-与神同行[230-244]</a>
            <a href="/ttsd/245-266" class="list-group-item">九-尽忠天职[245-266]</a>
            <a href="/ttsd/267-290" class="list-group-item">十-溪边捡石[267-290]</a>
            <a href="/ttsd/291-341" class="list-group-item">十一-心海拾贝[291-341]</a>
            <a href="/ttsd/342-365" class="list-group-item">十二-永恒之恋[342-365]</a>
            <a href="/ttsd/ttsdend" class="list-group-item">后记</a>
         </div>
	   </div><!-- 6 -3 -->
	   
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>