<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>奇妙真相管理</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">后台</a></b></h4></li>
	  <li><b><a href="/admin/qmzx/qmzxlist" style="font-size: 18px">奇妙真相</a></b></li>
	</ol> 
   <div class="container">
     <form class="form-inline" action="" method="get">
	  <div class="form-group">
	     <select class="form-control" name="fubiaoti" id="fubiaoti" >
		       <option value="宇宙之战">一-宇宙之战</option>
		       <option value="最重要的问题">二-最重要的问题</option>
		       <option value="最高的目标">三-最高的目标</option>
		       <option value="奇妙探险">四-奇妙探险</option>
		       <option value="信仰方程式">五-信仰方程式</option>
		       <option value="永远的福音I">六-永远的福音I</option>
		       <option value="永远的福音II">七-永远的福音II</option>
		       <option value="十诫系列">八-十诫系列</option>
		       <option value="亲近上帝">九-亲近上帝</option>
		       <option value="最奇妙的圣经预言">十-最奇妙的圣经预言</option>
		       <option value="天启概要">十一-天启概要</option>
		       <option value="预言的地标">十二-预言的地标</option>
		       <option value="信心的勇士">十三-信心的勇士</option>
	        </select>
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" name="biaoti" id="biaoti" value="$!query.biaoti"   placeholder="标题">
	  </div>
	  <div class="form-group">
	  <button type="submit" class="btn btn-success">查询</button>
	  <a class="btn btn-primary" href="/admin/qmzx/qmzxedit/-1">添加</a>
	  </div>
	</form> 
    <br/> 
	<table class="datatable table table-bordered table-hover">
	<thead>
		<tr class="success">
		    <th>序号</th>
		    <th>父标题</th>
		    <th>第几个</th>
			<th>标题</th>
			<th>土豆地址</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	    #set($index=$result.index)
	    #foreach($!model in $!resultViewList)  
		<tr>
		    <td class="align-center">$index</td>
		    <td>$!model.fubiaoti</td>
		    <td>$!model.dijige</td>
			<td>$!model.biaoti</td>
			<td>$!model.tudousrc</td>
			<td>
	            <a class="btn btn-success" href="/admin/qmzx/qmzxedit/$!{model.id}">编辑</a>
	        </td>
		</tr>
		 #set($index=$index+1)
		#end
	</tbody>
</table> 
  #parse ("/common/page.html")
   #parse("common/beian.html") </div><!-- .container -->
  </body>
</html>