<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>求助弟兄</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
      <li><b><a style="font-size: 18px" href="/dixiongzimei/dixiong">求助弟兄</a></b></li>
      <li><a href="/dixiongzimei/zimei">求助姊妹</a></li>
	</ol> 
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;求助弟兄&nbsp;&nbsp;<small>希望弟兄可以帮助到你</small></h4>
       </div>
	      <a href="/dixiongzimei/dixiongzimei" class="btn btn-block btn-success">加入我们</a>
        <br>
   <!--   <form class="form-inline" action="" method="get">
	  <div class="form-group">
	    <input type="text" class="form-control" name="xingming" id="xingming" value="$!query.xingming"   placeholder="姓名">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" name="shoujihao" id="shoujihao" value="$!query.shoujihao"   placeholder="手机号">
	  </div>
	  <div class="form-group">
	      <button type="submit" class="btn btn-success">查询</button>
	      <a class="btn btn-primary" onclick="AdminDiXiongZiMei.dixiongzimei_ajax('');" data-toggle="modal" data-target="#jibenxinxiModal">添加</a>
	  </div>
	</form>  -->
		 #foreach($!model in $!resultViewList) 
	  	<div class="alert alert-success alert-dismissible" role="alert">
		  <p><h4>$!model.xingming 
	         </h4>
	         <div>&nbsp;</div>
			 QQ: <button type="button" class="btn btn-link" onclick="QQtalk('$!model.qq')">$!model.qq </button>
	      </p>
		</div>
	    #end
	    #parse ("/common/page_web.html")
	</div>
	
	 <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
         <div class="list-group">
             <a href="/dixiongzimei/mushi" class="list-group-item active">首页</a>
         </div>
	   </div>
	   </div>
   #parse("common/beian.html") </div><!-- .container -->
  </body>
  <script type="text/javascript">
  function QQtalk(QQnum) {
		Link = "tencent://message/?uin="+QQnum+"&Site=&menu=yes";
		this.location.href = Link;
	}
 </script>
</html>