<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>基本信息</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li><li><a href="/qiu/qiu">祈求</a></li><li><a href="/gei/gei">给予</a></li>
	</ol> 
  
   <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;$!model.nickname &nbsp;&nbsp;<small>基本信息</small></h4>
       </div>
    <form action="/dixiongzimei/dixiongzimeigengxin" method="post" >
	  <input type="hidden" name="id"  value="$!model.id">
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">QQ昵称<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="hidden" name="openID" value="$!model.openID">
	      <input type="text" class="form-control" name="nickname" value="$!model.nickname">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">姓名<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="xingming" id="xingming" value="$!model.xingming" placeholder="姓名">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">性别<span class="required">*</span></label>
	    <div class="col-sm-10">
	       <input type="radio" #if($!model.xingbie =='男') checked="checked" #end  name="xingbie" value="男"> 男
	       &nbsp;&nbsp;&nbsp;
	       <input type="radio" #if($!model.xingbie =='女') checked="checked" #end  name="xingbie" value="女"> 女
	    </div>
	  </div>
	  
	   <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">年龄<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input class="form-control"  placeholder="年龄" type="text" name="nianling" value="$!model.nianling" id="nianling" >
	    </div>
	  </div>
	  
	   <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">手机号<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="shoujihao" id="shoujihao" value="$!model.shoujihao" placeholder="手机号">
	    </div>
	  </div>
	  
	   <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">QQ<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="qq" id="qq" value="$!model.qq" placeholder="QQ">
	    </div>
	  </div>
	  
	   <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">微信号<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="weixinhao" id="weixinhao" value="$!model.weixinhao" placeholder="微信号">
	    </div>
	  </div>
	  
	  
	   <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">身份<span class="required">*</span></label>
	    <div class="col-sm-10">
	       <input type="radio" #if($!model.shenfen =='牧师') checked="checked" #end  name="shenfen" value="牧师"> 牧师
	       &nbsp;&nbsp;&nbsp;
	       <input type="radio" #if($!model.shenfen =='信徒') checked="checked" #end  name="shenfen" value="信徒"> 信徒
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">其他信息<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <textarea class="form-control" rows="2" name="qita" id="qita"   placeholder="其他信息">$!model.qita</textarea>
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-block btn-primary">保存基本信息</button>
	    </div>
	  </div> 
	 </form>
   </div><!-- 12 -9 -->
	   <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
             <a href="/index" class="list-group-item">首页</a>
             <a href="/ttsd/1-48" class="list-group-item">谈天说地</a>
             <a href="/qmzx/1" class="list-group-item">奇妙真相</a>
             <a href="/sjzl/1-5" class="list-group-item">圣经纵览</a>
             <a href="/wenzhang/wenzhang/kuangyehusheng" class="list-group-item">旷野呼声</a>
         </div>
	   </div><!-- 6 -3 -->
	 </div><!-- .row -->
   </div><!-- .container -->
  </body>
</html>