<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>弟兄姊妹</title>
  </head>
  <body>
     <ol class="breadcrumb">
      <li><h4><b><a href="/index">微生命</a></b></h4></li>
      <li><b><a style="font-size: 18px" href="/dixiongzimei/dixiongzimeilist">弟兄姊妹</a></b></li>
	</ol> 
     <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
     <div class="col-sm-12 col-sm-9">
       <p class="pull-right visible-xs">
         <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">点我</button>
       </p>
       <div class="jumbotron" data-toggle="offcanvas">
            <h4>&nbsp;&nbsp;弟兄姊妹&nbsp;&nbsp;<small>交流沟通生命中感动</small></h4>
       </div>
    <form class="form-inline" action="" method="get">
     <div class="form-group">
	    <input type="text" class="form-control" name="nianling" id="nianling" value="$!query.nianling"   placeholder="年龄">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" name="xingbie" id="xingbie" value="$!query.xingbie"   placeholder="性别">
	  </div>
	  <div class="form-group">
	      <button type="submit" class="btn btn-primary">查询</button>
	  </div>
	</form>  
	<br>
	    <div class="row">
		  #foreach($!model in $!resultViewList) 
		 <div class="col-xs-12 col-lg-4">
		   <div class="thumbnail">
		     <div class="caption">
		       <h3>$!model.xingming  $!model.xingbie  $!model.nianling</h3>
		       <p>
			       <br><br>
				   QQ:$!model.qq<br><br>
				 微信:$!model.weixinhao<br><br>
				 手机:$!model.shoujihao<br><br>
		       </p>
		     </div>
		   </div>
		 </div>
		 #end
		</div>
	    
	    
	    #parse ("/common/page_web.html")
	</div>
	
	 <div class="col-sm-12 col-sm-3 sidebar-offcanvas" id="sidebar">
         <div class="list-group">
             <a href="/dixiongzimei/dixiongzimeilist" class="list-group-item active">首页</a>
             <a href="/dixiongzimei/dixiongzimei" class="list-group-item">加入我们</a>
         </div>
	   </div>
	   </div>
   #parse("common/beian.html") </div><!-- .container -->
  </body>
</html>