<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>后台管理页面</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">微生命后台</a></b></h4></li>
      <li><a href="/admin/shujuzidian/shujuzidianlist">数据字典</a></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  <li><a href="/admin/dixiongzimei/dixiongzimeilist">弟兄姊妹管理</a></li>
	  <li><a href="/admin/ttsd/ttsdlist">谈天说地</a></li>
	   <li><a href="/admin/qmzx/qmzxlist">奇妙真相</a></li>
	   <li><a href="/admin/sjzl/sjzllist">圣经纵览</a></li>
	   <li><a href="/admin/hmgq/hmgqlist">荒漠甘泉</a></li>
	</ol> 
   <div class="container">
   #parse("common/beian.html") </div><!-- .container -->
  </body>
</html>