<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("common/bootstrap-css-js.html")
    <title>后台管理页面</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">微生命后台</a></b></h4></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  <li><a href="/admin/shipin/shipinlist">视频管理</a></li>
	  <li><a href="/admin/jiaotang/jiaotanglist">教堂管理</a></li>
	</ol> 
   <div class="container">
     
   </div><!-- .container -->
  </body>
</html>