<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>后台管理页面</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">后台</a></b></h4></li>
      <li><a href="/admin/shujuzidian/shujuzidianlist">数据字典</a></li>
	  <li><a href="/admin/wenzhang/wenzhanglist">文章管理</a></li>
	  <li><a href="/admin/shipin/shipinlist">视频管理</a></li>
	  <li><a href="/admin/dixiongzimei/dixiongzimeilist">弟兄姊妹管理</a></li>
	  <li><a href="/admin/user/userlist">用户管理</a></li>
	  <li><a href="/admin/users/userslist">用户管理1</a></li>
	</ol> 
   <div class="container">
     
   </div><!-- .container -->
  </body>
</html>