<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    #parse("common/bootstrap-css-js.html")
    <title>文章|编辑</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><h4><b><a href="/admin/adminindex">后台</a></b></h4></li>
      <li><a href="/admin/shujuzidian/shujuzidianlist">数据字典</a></li>
	  <li><b><a href="/admin/wenzhang/wenzhanglist" style="font-size: 18px">文章管理</a></b></li>
	  
	  <li><a href="/admin/jiaotang/jiaotanglist">教堂地址管理</a></li>
	  <li><a href="/admin/dixiongzimei/dixiongzimeilist">弟兄姊妹管理</a></li>
	</ol>
   <div class="container">
    <form action="/admin/wenzhang/wenzhangupdate" method="post" >
	  <input type="hidden" name="id"  value="$!model.id">
	  
	  <div class="form-group row">
	    <label for="xingming" class="col-sm-2 form-control-label">父标题<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="fubiaoti" id="fubiaoti" value="$!model.fubiaoti" placeholder="父标题">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">标题<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="biaoti" id="biaoti" value="$!model.biaoti" placeholder="标题">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">来源<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="laiyuan" id="laiyuan" value="$!model.laiyuan" placeholder="来源">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">作者<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="zuozhe" id="zuozhe" value="$!model.zuozhe" placeholder="作者">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">排序<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="paixu" id="paixu" value="$!model.paixu" placeholder="排序">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">概述<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <textarea class="ckeditor" rows="10" name="gaishu" id="gaishu"   placeholder="概述">$!model.gaishu</textarea>
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="shoujihao" class="col-sm-2 form-control-label">内容<span class="required">*</span></label>
	    <div class="col-sm-10">
	      <textarea class="ckeditor" rows="10" name="neirong" id="neirong"   placeholder="内容">$!model.neirong</textarea>
	    </div>
	  </div>
	  
	  
	   
	  <div class="form-group row">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-block btn-primary">更新</button>
	    </div>
	  </div>  
	 </form>
     
   </div><!-- .container -->
   <script src="${static_resource}/resources/js/ckeditor/ckeditor.js"></script>
   <script src="${static_resource}/resources/js/admin/adminwenzhang.js"></script>
  </body>
</html>